<mat-card class="mat-elevation-z8 card-features">
  <mat-card-title></mat-card-title>
  <mat-card-subtitle>PTZ Controls</mat-card-subtitle>
  <mat-card-content>
    <div class="flex-container">
      <div>
        <app-ptzbutton matIcon="keyboard_arrow_up"
                       ptzBtnMatTooltip="Tilt upward"
                       [reporting]="reporting"
                       [moveDirection]="eMoveDirections['tiltUp']"
                       [camera]="camera">
        </app-ptzbutton>
      </div>
      <div>
        <app-ptzbutton matIcon="keyboard_arrow_left"
                       ptzBtnMatTooltip="Pan left"
                       [reporting]="reporting"
                       [moveDirection]="eMoveDirections['panLeft']"
                       [camera]="camera">
        </app-ptzbutton>
        <app-ptzbutton matIcon="keyboard_arrow_right"
                       ptzBtnMatTooltip="Pan right"
                       [reporting]="reporting"
                       [moveDirection]="eMoveDirections['panRight']"
                       [camera]="camera">
        </app-ptzbutton>
      </div>
      <div>
        <app-ptzbutton matIcon="keyboard_arrow_down"
                       ptzBtnMatTooltip="Tilt downward"
                       [reporting]="reporting"
                       [moveDirection]="eMoveDirections['tiltDown']"
                       [camera]="camera">
        </app-ptzbutton>
      </div>
    </div>
  </mat-card-content>
</mat-card>
