<mat-card class="mat-elevation-z8 card-features">
  <mat-card-title></mat-card-title>
  <mat-card-subtitle>PTZ Controls</mat-card-subtitle>
  <mat-card-content>
    <div class="flex-container">
      <div>
        <div>
          <app-ptzbutton matIcon="keyboard_arrow_up"
            ptzBtnMatTooltip="Tilt upward"
            [reporting]="reporting"
            [moveDirection]="eMoveDirections['tiltUp']"
            [camera]="camera">
          </app-ptzbutton>
        </div>
        <div>
          <app-ptzbutton matIcon="keyboard_arrow_left"
            ptzBtnMatTooltip="Pan left"
            [reporting]="reporting"
            [moveDirection]="eMoveDirections['panLeft']"
            [camera]="camera">
          </app-ptzbutton>
          <app-ptzbutton matIcon="keyboard_arrow_right"
            ptzBtnMatTooltip="Pan right"
            [reporting]="reporting"
            [moveDirection]="eMoveDirections['panRight']"
            [camera]="camera">
          </app-ptzbutton>
        </div>
        <div>
          <app-ptzbutton matIcon="keyboard_arrow_down"
            ptzBtnMatTooltip="Tilt downward"
            [reporting]="reporting"
            [moveDirection]="eMoveDirections['tiltDown']"
            [camera]="camera">
          </app-ptzbutton>
        </div>
        <div>
          <app-ptzbutton matIcon="add_circle_outline"
            ptzBtnMatTooltip="Zoom in"
            [scale]="1"
            [reporting]="reporting"
            [moveDirection]="eMoveDirections['zoomIn']"
            [camera]="camera">
          </app-ptzbutton>
          <app-ptzbutton matIcon="remove_circle_outline"
            ptzBtnMatTooltip="Zoom out"
            [scale]="1"
            [reporting]="reporting"
            [moveDirection]="eMoveDirections['zoomOut']"
            [camera]="camera">
          </app-ptzbutton>
        </div>
      </div>
      <mat-divider></mat-divider>
      <mat-card-subtitle>Presets</mat-card-subtitle>
      <mat-card-subtitle class="smaller-text">{{presetFunctionDescription()}}</mat-card-subtitle>
      <div>
        @for (l of counter(maxPresets); track l; let i = $index) {
          <app-preset-button
            (click)="presetButtonPressed()"
            [reporting]="reporting"
            [camera]="camera"
            [presetNumber]="(i+1).toString()"
            [presetInfo]="presetsInfo.presets[i]"
            [operation]="presetOperation()"
            [isGuest]="isGuest"
            matTooltip="{{isGuest ? 'Disabled for guest' : presetsTooltip(i+1)}}"
            matTooltipClass="tooltip">
          </app-preset-button>
        }
      </div>
      <div>
        <mat-slide-toggle (change)="presetSaveSwitchChanged($event)"
          [disabled]="clearPreset">
          {{!savePreset ? "Save Preset" : "Goto Preset"}}
        </mat-slide-toggle>
        <mat-slide-toggle (change)="clearPresetSwitchChanged($event)"
          [disabled]="savePreset">
          Clear Preset
        </mat-slide-toggle>
      </div>
    </div>
  </mat-card-content>
</mat-card>
