.ip-addresses {
  margin-top: 1rem;
  font-size: 2rem;
  display: inline-flex;
  width: 100dvw;
  >mat-card
  {
    margin-left: auto;
    margin-right: auto;
    > mat-card-content {
      max-width: 93dvw;
      >table {
        width: 35rem;
      }
    }
  }
}
