<div class="cloud-creds-setup-container">
  <mat-card class="mat-elevation-z8">
    <mat-card-header>
      <mat-card-title>{{title}}</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <app-reporting [embedded]="true"></app-reporting>
      <div class="form-container">
        <mat-form-field appearance="fill" class="set-activemq-creds-input">
          <input #username matInput type="text" autocomplete="off" maxlength="20"
                 [formControl]="getFormControl('username')"
                 (beforeinput)="confirmOnReturn($event)"
                 (blur)="getFormControl('password').updateValueAndValidity()"
                 title=""
                 matTooltip="Enter user name or leave blank to leave unchanged"
                 matTooltipClass="tooltip"
                 placeholder="New User name">
          <mat-hint>User name for NVR online access</mat-hint>
          <mat-error *ngIf="cloudCredsForm.controls['username'].hasError('pattern')">5 or more characters and numbers
          </mat-error>
          <mat-error *ngIf="cloudCredsForm.controls['username'].hasError('required')">User name is required</mat-error>
          <mat-error *ngIf="cloudCredsForm.controls['username'].hasError('emptyWithPassword')">User name empty when password was not</mat-error>
        </mat-form-field>
        <mat-form-field appearance="fill" class="set-activemq-creds-input">
          <input matInput type="password" autocomplete="off" maxlength="20"
                 [formControl]="getFormControl('password')"
                 (beforeinput)="confirmOnReturn($event)"
                 (blur)="getFormControl('username').updateValueAndValidity()"
                 title=""
                 matTooltip="Enter your password or leave blank to leave unchanged"
                 matTooltipClass="tooltip"
                 placeholder="Password">
          <mat-hint>Password for NVR online access</mat-hint>
          <mat-error *ngIf="cloudCredsForm.controls['password'].hasError('pattern')">Upper, lower case, numbers and special
            chars
          </mat-error>
          <mat-error *ngIf="cloudCredsForm.controls['password'].hasError('emptyWithUsername')">Password empty when username was not
          </mat-error>
        </mat-form-field>
        <mat-form-field appearance="fill" class="set-activemq-creds-input">
          <input matInput type="password" autocomplete="off" maxlength="20"
                 [formControl]="getFormControl('confirmPassword')"
                 (beforeinput)="confirmOnReturn($event)"
                 title=""
                 matTooltip="Confirm your NVR account password"
                 matTooltipClass="tooltip"
                 placeholder="Confirm Password">
          <mat-hint>Confirm the password</mat-hint>
          <mat-error *ngIf="cloudCredsForm.controls['confirmPassword'].hasError('notMatching')">Must match password
          </mat-error>
        </mat-form-field>
        <mat-form-field appearance="fill" class="set-activemq-creds-input">
          <input matInput type="text" autocomplete="off" maxlength="25"
                 [formControl]="getFormControl('mqHost')"
                 (beforeinput)="confirmOnReturn($event)"
                 title=""
                 matTooltip="Set to the correct ActiveMQ host address if not already shown"
                 matTooltipClass="tooltip"
                 placeholder="ActiveMQ Host">
          <mat-hint>ActiveMQ Host Address</mat-hint>
          <mat-error *ngIf="cloudCredsForm.controls['mqHost'].hasError('invalidHost')">Not a valid hostname or IP
          </mat-error>
          <mat-error *ngIf="cloudCredsForm.controls['mqHost'].hasError('required')">ActiveMQ host is required</mat-error>
        </mat-form-field>
      </div>
      <span class="confirm-group">
      <button color="default" mat-flat-button (click)="hideRegisterForm()"
              matTooltip="{{reporting.success == undefined ? 'Close this dialogue and abandon setting up an account': 'Close this dialogue box'}}"
              matTooltipClass="tooltip">
        {{reporting.success == undefined ? 'Cancel' : 'Exit'}}
      </button>
      <button color="warning" mat-flat-button
              [disabled]="error || anyInvalid() || reporting.success != undefined"
              (click)="formValidator()"
              matTooltip="Register the new account"
              matTooltipClass="tooltip">
        {{buttonTitle}}
      </button>
    </span>
    </mat-card-content>
  </mat-card>
</div>

