div.flex-item{
    //flex-shrink: 1;
}

div.videotitle {
  font-size: large;
  color: #f5b3b3;
  padding: 1.5rem;
}

video.video
{
  width: 700px;
  border: 0.25rem solid darkblue;
  border-right-color: #3939f3;
  border-bottom-color: #3939f3;
  margin-left: 1.5rem;
  margin-right: 1.5rem;
}
