video.video {
  @media handheld and (max-device-width: 1000px), screen and (max-width: 1000px) {
    width: 700px;
  }
  @media handheld and (min-device-width: 1001px), screen and (min-width: 1001px) {
    width: 900px;
  }
  border: 0.25rem solid darkblue;
  border-right-color: #3939f3;
  border-bottom-color: #3939f3;
  margin-left: 1.5rem;
  margin-right: 1.5rem;
}

// Smaller video size in multi display
video.multi {
  max-width: 700px;
}

.mx-auto {
  margin-right: auto !important;
  margin-left: auto !important;
}

.row {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px;
}

div.latency-limit-selector {
  display: flex;
  justify-content: center;

  > div {
    height: 25px;
    background-color: #3939f3;
    border-top: #3939f3 1px solid;
    border-bottom: black 1px solid;
    border-left: black 1px solid;
    border-right: black 1px solid;
    display: block;
    position: relative;
    top: -5px;
    > label {
      margin-right: 5px;
      position: relative;
      top: 1px;
    }
    > mat-select {
      position: relative;
      top: -4px;
    }
  }
}
