<div [style.display]="visible ? 'block' : 'none'">
  <app-reporting></app-reporting>
  <div class="row">
    <mat-card class="mx-auto hide-background mat-elevation-z0">
      <mat-card-title class="mat-elevation-z8">
        {{camstream != undefined ? (camstream.camera?.name + " (" + camstream.stream?.descr + ")") : ""}}
      </mat-card-title>
    </mat-card>
  </div>
  <div>
    <video #video [ngClass]="{'multi': multi}" class="video">
    </video>
    <div *ngIf="isfmp4" class="latency-limit-selector">
      <div>
        <label matTooltip="{{audioToggle ? 'Stop' : 'Start'}} audio to camera" matTooltipClass="tooltip">
          <mat-icon (click)="toggleAudio()">{{audioToggle ? 'mic' : 'mic_off'}}</mat-icon>
        </label>
        <select matTooltip="Set audio input device" matTooltipClass="tooltip"
          [(ngModel)]="selectedDeviceId" (change)="setAudioInput()">
          <option *ngFor="let device of mediaDevices | audioInput" [value]="device.deviceId">{{device.label}}</option>
        </select>
        <label>
          <mat-icon>timer</mat-icon>
        </label>
        <select matTooltip="Set upper latency chasing limit" matTooltipClass="tooltip"
                style="width: 90px;" #latencyLimitSelect [(ngModel)]="buffering_sec" (change)="setlatencyLim()">
          <option value="0.4">0.4</option>
          <option value="0.6">0.6</option>
          <option value="0.8"> 0.8</option>
          <option value="1">1.0</option>
          <option value="1.2">1.2</option>
          <option value="1.4">1.4</option>
          <option value="1.6">1.6</option>
          <option value="1.8">1.8</option>
          <option value="2">2.0</option>
        </select>
      </div>
    </div>
  </div>
</div>
