<div [style.display]="visible ? 'block' : 'none'">
  <app-reporting></app-reporting>
  <div class="row">
    <mat-card class="mx-auto hide-background mat-elevation-z0">
      <mat-card-title class="mat-elevation-z8">
        {{ mediaFeeder.camName + " (" + mediaFeeder.streamDescr + ") "}}<span class="vid-time">{{currentTime}}</span><span *ngIf="!isLive" class="duration-time"> - {{totalTime}}</span>
      </mat-card-title>
    </mat-card>
  </div>
  <div class="video-and-controls">
    <div #videoContainer [ngClass]="{'video': !multi, 'multi': multi}" (wheel)="vt.mouseWheel($event)"
         (mousedown)="reset($event)"
         (mousemove)="vt.mouseMove($event)"
         (mouseup)="vt.mouseUp()"
         (mouseout)="vt.mouseUp()"
         (touchstart)="vt.touchStartHandler($event)"
         (touchmove)="vt.touchMoveHandler(($event))"
         (touchend)="vt.touchEndHandler($event)">
      <video #video></video>
      <audio #audio></audio>
    </div>
    <div *ngIf="isLive" class="latency-limit-selector">
      <div>
        <label *ngIf="stream?.audio && !mediaFeeder.noAudio" class="video-buttons"
               [matTooltip]="'Click to ' + (mediaFeeder.isMuted ? 'unmute' : 'mute') + ' sound'"
               matTooltipClass="tooltip">
          <mat-icon (click)="toggleMuteAudio()">{{ mediaFeeder.isMuted ? 'volume_off' : 'volume_up' }}</mat-icon>
        </label>
          <label *ngIf="stream?.audio && !mediaFeeder.noAudio" class="volume-slider"
                 [matTooltip]="'Slide to adjust volume'"
                 matTooltipClass="tooltip">
              <input [disabled]="volumeControlDisabled()" type="range" min="0" max="1" step="0.01" [ngModel]="volume" (change)="setVolume($event)">
          </label>
        <label *ngIf="mediaFeeder.backchannelAudioSupported"
               class="video-buttons"
               [matTooltip]="audioBackchannel.audioButtonTooltip()"
               matTooltipClass="tooltip">
          <mat-icon
            [ngClass]="{'audio-out-inactive': !utilsService.speakActive && !audioBackchannel.audioToggle && !utilsService.isGuestAccount, 'audio-out-active':  utilsService.speakActive && audioBackchannel.audioToggle && !utilsService.isGuestAccount, 'audio-out-disabled': (utilsService.speakActive && !audioBackchannel.audioToggle) || utilsService.isGuestAccount}"
            (click)="audioBackchannel.toggleAudioOut(mediaFeeder.camera, stream)">{{ audioBackchannel.audioToggle ? 'mic' : 'mic_off' }}
          </mat-icon>
        </label>
        <select *ngIf="mediaFeeder.backchannelAudioSupported" [disabled]="utilsService.speakActive"
                [matTooltip]="audioBackchannel.audioInputSelectorTooltip()" matTooltipClass="tooltip"
                [(ngModel)]="audioBackchannel.selectedDeviceId" (change)="audioBackchannel.setAudioInput()">
          <option *ngFor="let device of audioBackchannel.mediaDevices | audioInput"
                  [value]="device.deviceId">{{ device.label }}
          </option>
        </select>
        <label [ngClass]="{'media-feed-stalled': mediaFeeder.isStalled}">
          <mat-icon>timer</mat-icon>
        </label>
        <label class="video-buttons"
               matTooltip="Set full screen"
               matTooltipClass="tooltip">
          <mat-icon (click)="setFullScreen()">fullscreen</mat-icon>
        </label>
      </div>
    </div>
  </div>
</div>
