<div *ngIf="errorMessage" class="alert-danger">
  {{errorMessage}}
</div>
<div class="flex-container">
  <mat-card class="events-select">
    <mat-card-title>Select a Motion Event</mat-card-title>
    <mat-card-content>
      <mat-form-field appearance="fill">
        <mat-label>Motion Events</mat-label>
        <mat-select (selectionChange)="getOffsetForEpoch($event)">
          <mat-option *ngFor="let event of motionEvents" [value]="event.epoch">
            {{event.dateTime}}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </mat-card-content>
  </mat-card>
  <div>
    <app-video></app-video>
    <div class="buttons-flex-container">
      <button (click)="stepBack()">Step Back</button>
      <button (click)="stepForward()">Step Forward</button>
      <button (click)="pause()">Pause</button>
      <button (click)="start()">Start</button>
      <button (click)="fastForward()">Fast Forward</button>
      <button (click)="fasterForward()">Faster Forward</button>
    </div>
  </div>
</div>



