<div  [ngClass]="{'no-display': !visible}" class="flex-container">
  <mat-card class="events-select">
    <mat-card-title>Select a Motion Event</mat-card-title>
    <mat-card-content>
      <mat-form-field appearance="fill">
        <mat-label>Motion Events</mat-label>
        <mat-select #selector (selectionChange)="showMotionEvent($event)">
          <mat-option *ngFor="let event of motionEvents" [value]="event">
            {{event.dateTime}}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <div>
        <mat-checkbox [disabled]="camera?.recording?.motionUri==undefined" (change)="setIsMotion($event.checked)" #cbShowMotionRecording
        [title]="showMotionRecording ? 'Click to show the nginx recordings' : 'Click to show the motion recordings'">{{showMotionRecording ? 'Show nginx recordings' : 'Show Motion Recordings'}} </mat-checkbox>
      </div>
      <div [ngSwitch]="confirmDelete" class="delete-button-set">
        <div *ngSwitchCase="false">
          <button mat-stroked-button class="btn btn-sm btn-danger" (click)="confirmDelete=true" title="Delete the currently selected recording">Delete This Recording</button>
        </div>
        <div *ngSwitchCase="true">
          Delete {{selector.value.dateTime}},
          <div>are you sure?</div>
          <button mat-stroked-button class="btn btn-sm btn-danger" (click)="confirmDelete=false;deleteRecording()" title="Delete the currently selected recording">Confirm</button>
          <button mat-stroked-button class="btn btn-sm btn-secondary" (click)="confirmDelete=false" title="Do not delete the recording">Cancel</button>
        </div>
        <div class="recording-indicator">
          Recorded by {{showMotionRecording ? "Motion" : "nginx"}}
        </div>
      </div>

    </mat-card-content>
  </mat-card>
  <div>
    <app-video></app-video>
    <div class="buttons-flex-container">
      <button mat-raised-button class="recording-button" (click)="returnToStart()" title="Go back to the start of the recording"><fa-icon [icon]="['fas', 'fast-backward']" size="lg"></fa-icon></button>
      <button mat-raised-button class="recording-button" (click)="stepBack()" title="Step backward 10 seconds"><fa-icon [icon]="['fas', 'backward']" size="lg"></fa-icon></button>
      <button mat-raised-button class="recording-button" (click)="stepForward()" title="Step forward 10 seconds"><fa-icon [icon]="['fas', 'forward']" size="lg"></fa-icon></button>
      <button mat-raised-button class="recording-button" (click)="pause()" title="Pause"><fa-icon [icon]="['fas', 'pause']" size="lg"></fa-icon></button>
      <button mat-raised-button class="recording-button" (click)="start()" title="Play (restart after pause)"><fa-icon [icon]="['fas', 'play']" size="lg"></fa-icon></button>
      <button mat-raised-button class="recording-button" (click)="fastForward()" title="Fast forward"><fa-icon [icon]="['fas', 'fast-forward']" size="lg"></fa-icon></button>
      <button mat-raised-button class="faster-forward" (click)="fasterForward()" title="Faster forward"><fa-icon [icon]="['fas', 'fast-forward']" size="lg"></fa-icon></button>
    </div>
  </div>
</div>
<div class="alert-warning no-video" [ngClass]="{'no-display': !noVideo}">No Video Clips Available For {{camera?.name}} ({{camera?.descr}})</div>
<app-reporting></app-reporting>


