@use "src/mixins.scss" as mixins;

div.flex-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
}

.events-select {
  height: fit-content;
}

div.buttons-flex-container {
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  margin-top: 0.8rem;
  > mat-card {
    margin-top: auto;
    margin-bottom: auto;
    > mat-button-toggle-group {
      > button {
        min-height: 40px;
      }
      > mat-button-toggle {
        margin-top: auto;
        margin-bottom: auto;
      }
    }
  }
}

div[class="alert-danger"] {
  padding: 0.3rem;
  text-align: center;
}

mat-icon.faster-forward {
  color: #f34d4d;
}

mat-card.recording-buttons {
  padding: 0.4rem;

  > mat-button-toggle-group > button {
    min-width: 0;
    border-right: .2px solid #646363;
    border-radius: 0;
    padding-left: 13px;
    padding-right: 13px;
  }
}

div.additional-buttons {
  margin-top: 0.3rem;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

div.no-display {
  display: none;
}

div.delete-button-set {
  > div {
    color: white;
    font-size: 12px;
    button {
      margin-top: 0.4rem;
      margin-right: 0.4rem;
    }
  }
}

div.delete-button {
  > button {
    width: 173px;
  }

  margin-top: 0.4rem;
}


div.download-button {
  > button {
    width: 173px;
  }

  margin-top: 0.4rem;
}

div.recording-container {
  > mat-card {
    margin-left: 0.5rem;
    margin-right: 1rem;
  }
  display: inline-flex;
  flex-wrap: wrap;
  justify-content: space-between;
  > div {
    margin-right: auto;
    margin-left: auto;
  }
}

div.audio-controls-dialogue {
  position: relative;
  > div {
    @include mixins.top-cursor;
  }
}

