div.flex-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
}

.events-select {
  height: fit-content;
}

div.buttons-flex-container {
  display: flex;
  flex-wrap: nowrap;
  width: available;
  justify-content: center;
  margin-top: 0.8rem;
}

div[class="alert-danger"] {
  padding: 0.3rem;
  text-align: center;
}

mat-icon.faster-forward {
  color: #f34d4d;
}

button.recording-button {
  min-width: 0;
  border-right: .2px solid #646363;
  border-radius: 0;
  padding-left: 13px;
  padding-right: 13px;
}

mat-icon.recording-button {
    color: #ffffff;
}

div.no-display {
  display: none;
}

div.no-video {
  position: relative;
  width: fit-content;
  padding: 3rem;
  margin-left: auto;
  margin-right: auto;
  top: 20%;
  -webkit-box-shadow: 5px 5px 14px 5px #000000;
  box-shadow: 5px 5px 14px 5px #000000;
  background-color: #f68130;
  color: black;
}

div.delete-button-set
{
    > div
    {
        button{
          margin-top: 0.4rem;
          margin-right: 0.4rem;
        }
    }
}

div.download-button
{
  >button{
    width: 167.38px;
  }
  margin-top: 0.4rem;
}
