div.flex-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
}

.events-select {
  height: fit-content;
}

div.buttons-flex-container {
  display: flex;
  flex-wrap: nowrap;
  width: available;
  justify-content: center;
  margin-top: 0.8rem;
}

div[class="alert-danger"] {
  padding: 0.3rem;
  text-align: center;
}

mat-icon.faster-forward {
  color: #f34d4d;
}

mat-card.recording-buttons {
  padding: 0.4rem;
  > mat-button-toggle-group > button{
    min-width: 0;
    border-right: .2px solid #646363;
    border-radius: 0;
    padding-left: 13px;
    padding-right: 13px;
  }
}

div.no-display {
  display: none;
}

div.delete-button-set
{
    > div
    {
        button{
          margin-top: 0.4rem;
          margin-right: 0.4rem;
        }
    }
}

div.download-button
{
  >button{
    width: 167.38px;
  }
  margin-top: 0.4rem;
}
