<mat-card>
    <mat-card-subtitle>Delete {{streamKey === undefined ? camKey : streamKey}}, Are you sure?</mat-card-subtitle>
    <mat-card-content>
        <span class="row-delete-confirm-group">
          <button color="cancel" mat-raised-button (click)="confirmRowDelete(false)"
                  matTooltip="Close this dialogue and leave {{name ? name : camKey}} in place"
                  [matTooltipShowDelay]="UtilsService.toolTipDelay"
                  matTooltipClass="tooltip">
            Cancel
          </button>
          <button color="warn" mat-raised-button
                  (click)="confirmRowDelete(true)"
                  matTooltip="Delete {{name ? name : camKey}}"
                  matTooltipClass="tooltip">
            Confirm
          </button>
        </span>
    </mat-card-content>
</mat-card>

