[Unit]
Description=Camera FTP'd recordings service
After=network.target
StartLimitIntervalSec=0
[Service]
Type=simple
Restart=always
RestartSec=1
User=tomcat
ExecStart=/etc/security-cam/camera-recordings-service/bin/python3 /etc/security-cam/camera-recordings-service/camera-recordings-service.py

[Install]
WantedBy=multi-user.target
