[Unit]
Description=Low latency media service
After=network.target
StartLimitIntervalSec=0
[Service]
Type=simple
Restart=always
RestartSec=1
User=tomcat
ExecStart=/etc/low-latency-media-server/low-latency-media-server_arm64

[Install]
WantedBy=multi-user.target
