[Unit]
Description=Security Cam Process Monitor

[Service]
ExecStart=/etc/security-cam/sc_processes.sh
# Security
User=sec-cam
Group=sec-cam

[Install]
WantedBy=multi-user.target
