[Unit]
Description=Wifi Management Root Access Service
After=network.target
StartLimitIntervalSec=0
[Service]
Type=simple
Restart=always
RestartSec=1
User=root
ExecStart=/etc/security-cam/wifi-setup-service/bin/python3 /etc/security-cam/wifi-setup-service/main.py

[Install]
WantedBy=multi-user.target
