div.camera-params-container
{
  margin-top: 1rem;
  font-size: 2rem;
  display: inline-flex;
  width: 100%;
  >mat-card
  {
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
    >mat-card-content >div >button
    {
      margin-top: 0.5rem;
    }
  }
}

div.title-padding {
  padding-left: 16px;
}

.button-container {
  display: flex;
  justify-content: space-between;
}
span.wait-spinner {
  display: flex;
  > span {
    position: relative;
    top: -5px;
    font-size: large;
  }
}
