div.camera-params-container
{
  margin-top: 1rem;
  font-size: 2rem;
  display: inline-flex;
  width: 100%;
  >mat-card
  {
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
    >mat-card-content >div >button
    {
      margin-top: 0.5rem;
    }
  }
}

mat-card-content.wait-box {
  >span {
    margin-left: 1rem;
    margin-bottom: auto;
    margin-top:auto;
  }
}

