<div class="camera-params-container">
  <mat-card class="mat-elevation-z8">
    <mat-card-title>View/Set Parameters</mat-card-title>
    <mat-card-subtitle>{{cam?.camera?.name}}</mat-card-subtitle>
    <mat-card-content class="wait-box mat-form-field-flex" *ngIf="downloading">
      <mat-spinner [diameter]="25"></mat-spinner>
      <span>Please wait..</span>
    </mat-card-content>
    <mat-card-content [ngStyle]="downloading ? {display: 'none'} : {display: 'block'}">
      <div [formGroup]="camControlFormGroup">
        <div>
        <mat-form-field appearance="legacy">
          <mat-label>Infra Red Status</mat-label>
          <mat-select formControlName="irselector">
            <mat-option value="auto">
              Auto
            </mat-option>
            <mat-option value="open">
              On
            </mat-option>
            <mat-option value="close">
              Off
            </mat-option>
          </mat-select>
          <mat-hint>Select required infra red status</mat-hint>
          <mat-error *ngIf="hasError('irselector', 'required')">Infra red status is required</mat-error>
        </mat-form-field>
        </div>
        <div>
          <mat-form-field appearance="standard">
            <mat-label>Camera Name</mat-label>
            <input matInput type="text" formControlName="cameraName"
                   placeholder="Start Date">
            <mat-hint>Change camera name if required</mat-hint>
            <mat-error *ngIf="hasError('cameraName', 'required')">Camera name is required</mat-error>
            <mat-error *ngIf="hasError('cameraName', 'maxlength')">Max camera name length exceeded</mat-error>
          </mat-form-field>
        </div>
        <div>
          <mat-form-field appearance="standard">
            <mat-label>Date Format</mat-label>
            <input matInput type="text" formControlName="dateFormat"
                   placeholder="Start Date">
            <mat-hint>Read only value</mat-hint>
            <mat-error *ngIf="hasError('dateFormat', 'required')">Camera name is required</mat-error>
            <mat-error *ngIf="hasError('dateFormat', 'maxlength')">Max camera name length exceeded</mat-error>
          </mat-form-field>
        </div>
        <div>
          <mat-form-field appearance="standard">
            <mat-label>Start Date</mat-label>
            <input matInput type="text" formControlName="startDate"
                   placeholder="Start Date">
            <mat-hint>Read only value</mat-hint>
          </mat-form-field>
        </div>
        <div>
          <mat-form-field appearance="standard">
            <mat-label>Software Version</mat-label>
            <input matInput type="text" formControlName="softVersion"
                   placeholder="Software Version">
            <mat-hint>Read only value</mat-hint>
          </mat-form-field>
        </div>
        <div>
          <mat-form-field appearance="standard">
            <mat-label>Model</mat-label>
            <input matInput type="text" formControlName="model"
                   placeholder="Model">
            <mat-hint>Read only value</mat-hint>
          </mat-form-field>
         </div>
      </div>
      <div class="button-container">
        <button mat-flat-button (click)="updateParams()" [disabled]="!anyChanged() || anyInvalid() || isGuest" color="warning">Update</button>
      </div>
    </mat-card-content>
  </mat-card>
</div>
<app-reporting></app-reporting>
