[Unit]
Description=Motion detection video capture daemon
Documentation=man:motion(1)

[Service]
Type=simple
User=tomcat
ExecStart=/usr/bin/motion

[Install]
WantedBy=multi-user.target
