<div class="guest-account-container">
  <mat-card class="mat-elevation-z8" xmlns="http://www.w3.org/1999/html">
    <mat-card-title>Guest Account</mat-card-title>
    <mat-card-content>
      <form (ngSubmit)="$event.preventDefault(); formSubmitted()" [formGroup]="setupGuestAccountForm">
        <div>
          <mat-checkbox [color]="'primary'" [checked]="setupGuestAccountForm.controls['enabled'].value"
                        (change)="setEnabled($event)"
                        matTooltip="If checked, the guest account will be enabled. When enabled for the first time, a password must be entered and confirmed."
                        matTooltipClass="tooltip">
            {{'Enable/Disable guest account'}}
          </mat-checkbox>
        </div>
        <div>
          <mat-form-field appearance="outline">
            <mat-label>Password</mat-label>
            <input matTooltip="Enter the password for the guest account. If left blank, the existing password will be retained."
                   matTooltipClass="tooltip"
                   matInput type="password" formControlName="password"
                   placeholder="Enter current password">
            <mat-error *ngIf="hasError('password', 'pattern')">Password incorrect</mat-error>
            <mat-hint>Enter password</mat-hint>
          </mat-form-field>
        </div>
        <div>
          <mat-form-field appearance="outline">
            <mat-label>Confirm password</mat-label>
            <input matTooltip="Enter the password again to confirm, leave blank if the password is blank"
                   matTooltipClass="tooltip"
                   matInput type="password" formControlName="confirmPassword"
                   placeholder="Confirm new password">
            <mat-error *ngIf="hasError('confirmPassword', 'required')">Confirm password is required</mat-error>
            <mat-error *ngIf="hasError('confirmPassword', 'confirmPassword')">Confirmed new password and New password differ
            </mat-error>
            <mat-hint>Confirm password</mat-hint>
          </mat-form-field>
        </div>
        <div class="button-container">
          <button mat-raised-button [disabled]="submitButtonDisabled()" color="warn">Submit</button>
        </div>
      </form>
    </mat-card-content>
  </mat-card>
</div>
<app-reporting></app-reporting>

