.nvr-register-container
{
  margin-top: 1rem;
 // font-size: .8rem;
  display: inline-flex;
  width: 100%;
  >mat-card
  {
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
  }
}

div.message-display {
  display: flex;
  > div {
    flex-grow: 2;
  }
}
