<!doctype html>
<html lang="EN_gb">
    <head>
        <title>NVR Error</title>
        <link rel="stylesheet" href="/stylesheets/errors.css">
    </head>
    <body style="background-color: #4a4a4a">
        <h3 style="color: ghostwhite" th:text="${message+': '+status}"></h3>
        <ul class="error-details">
            <li th:text="${'HTTP Status Code: '+status}"></li>
            <li th:text="${message}"></li>
            <li th:text="${'Request URI: '+requestUri}"></li>
        </ul>
    </body>
</html>
