<html lang="EN_gb">
<head>
    <title>Reset Password</title>
    <link rel="stylesheet" href="/stylesheets/bootstrap.min.css"/>
    <script src="/javascripts/bootstrap.min.js"></script>
</head>

<body style="background-color: #4a4a4a">
<div class="row">
    <div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
        <div class="card card-signin my-5">
            <div class="card-body bg-light">

                <h5 th:unless="${params != null && params.passwordSet != null}" class="card-title text-center">Please Enter New Password</h5>
                <h5 th:if="${params != null && params.passwordSet != null}" class="card-title text-center">Password Has Been Set</h5>
                <div th:if="${message != null}" class="alert alert-success" role="alert" th:text="${message}"></div>
                <div th:if="${error != null}" class="alert alert-danger" role="alert" th:text="${error}"></div>

                <div th:unless="${params != null && params.passwordSet}">
                    <form action="/recover/resetPassword" method="POST" id="updatePasswordForm"
                          autocomplete="off">
                        <div class="form-group">
                            <label for="password">New Password</label>
                            <input type="password" onkeyup="passwordKeyup()" class="form-control"
                                   name="newPassword" id="password" autocapitalize="none"/>
                        </div>

                        <div class="form-group">
                            <label for="confirmPassword">Confirm New Password</label>
                            <input type="password" onkeyup="confirmPasswordKeyUp()" class="form-control"
                                   name="confirmNewPassword" id="confirmPassword"/>
                        </div>
                        <div style="visibility: hidden; position: absolute">
                            <label for="resetKey"></label>

                            <input style="visibility: hidden; position: absolute"
                                   name="resetKey" value="changeMe" th:attr="value=${key}" id="resetKey">
                        </div>
                        <button id="submit" class="btn btn-lg btn-primary btn-block" type="submit">Submit</button>
                    </form>
                </div>
                <div th:if="${params != null && params.passwordSet}">
                    <button id="go-back" onclick="backToLogin()"
                            class="back-to-login-btn btn btn-lg btn-primary btn-outline-info"
                            type="button">Back to Log in</button>
                </div>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
    const passwordRegex = /^(?=.*[A-Za-z])(?=.*\d)(?=.*[@$!%*#?&])[A-Za-z\d@$!%*#?&]{8,64}$/;
    let password, confirmPassword, submit;

    // Initial setup function
    document.addEventListener("DOMContentLoaded", function (ignore) {
        document.forms['updatePasswordForm'].elements['password'].focus();
        password = document.getElementById('password');
        confirmPassword = document.getElementById('confirmPassword');
        submit = document.getElementById('submit');
        password.addEventListener('paste', () => passwordKeyup());
        confirmPassword.addEventListener('paste', () => confirmPasswordKeyUp());
    });

    // Check password is valid, set password field background red and disable submit button if not
    function passwordKeyup() {
        if (!passwordOk()) {
            password.style = 'background-color: #faa';
            submit.disabled = true;
        } else {
            password.style = 'background-color: #fff';
            if (confirmPasswordOk())
                submit.disabled = false;
        }
        confirmPasswordKeyUp();
    }

    // Check confirmPassword matches password, set confirmPassword field background red and disable submit button if not
    // Also confirm password is invalid if password is invalid.
    function confirmPasswordKeyUp() {
        if (!confirmPasswordOk()) {
            confirmPassword.style = 'background-color: #faa';
            submit.disabled = true;
        } else {
            confirmPassword.style = 'background-color: #fff';
            submit.disabled = false;
        }
    }

    // Return true if password is OK
    function passwordOk() {
        let password = document.getElementById('password')
        return passwordRegex.test(password.value);
    }

    // Return true if confirmPassword matches password and password is OK.
    function confirmPasswordOk() {
        return password.value === confirmPassword.value && passwordOk();
    }

    function backToLogin() {
        window.location.href = '/login'
    }
</script>
</body>
</html>
