<div class="wifi-details">
  <mat-card>
    <mat-card-title>Local Wifi Information@if (loading) {
      <mat-spinner class="spinner" [diameter]="25"></mat-spinner>
    }</mat-card-title>

    <mat-card-content #scrollable_content class="scrollable-content" [style]="utils.getScrollableContentStyle(scrollableContent?.nativeElement, true)">
      <app-reporting [embedded]="true"></app-reporting>
      <table mat-table [dataSource]="wifiDetails" class="mat-elevation-z8">
        <!-- In Use Column -->
        <ng-container matColumnDef="InUse">
          <th mat-header-cell *matHeaderCellDef>In Use</th>
          <td mat-cell *matCellDef="let element">
            @if (element.in_use) {
              <mat-icon class="in-use-check-mark">check_circle</mat-icon>
            }
          </td>
        </ng-container>

        <!-- BSSID Column -->
        <ng-container matColumnDef="Bssid">
          <th mat-header-cell *matHeaderCellDef>BSSID</th>
          <td mat-cell *matCellDef="let element"> {{element.bssid}} </td>
        </ng-container>

        <!-- SSID Column -->
        <ng-container matColumnDef="Ssid">
          <th mat-header-cell *matHeaderCellDef>SSID</th>
          <td mat-cell *matCellDef="let element"> <span [ngClass]="{'highlight': element.in_use}">{{element.ssid}}</span> </td>
        </ng-container>

        <!-- Mode Column -->
        <ng-container matColumnDef="Mode">
          <th mat-header-cell *matHeaderCellDef>Mode</th>
          <td mat-cell *matCellDef="let element"> {{element.mode}} </td>
        </ng-container>

        <!-- Channel Column -->
        <ng-container matColumnDef="Channel">
          <th mat-header-cell *matHeaderCellDef>Channel</th>
          <td mat-cell *matCellDef="let element"> {{element.channel}} </td>
        </ng-container>

        <!-- Rate Column -->
        <ng-container matColumnDef="Rate">
          <th mat-header-cell *matHeaderCellDef>Rate</th>
          <td mat-cell *matCellDef="let element"> {{element.rate}} </td>
        </ng-container>

        <!-- Signal Column -->
        <ng-container matColumnDef="Signal">
          <th mat-header-cell *matHeaderCellDef>Signal</th>
          <td mat-cell *matCellDef="let element"> {{element.signal}} </td>
        </ng-container>

        <!-- Security Column -->
        <ng-container matColumnDef="Security">
          <th mat-header-cell *matHeaderCellDef>Security</th>
          <td mat-cell *matCellDef="let element"> {{element.security}} </td>
        </ng-container>

          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>
      </mat-card-content>
    </mat-card>
  </div>
