.cam-creds-confirm-group {
  > span {
    background: #d9a11a;
    color: black;
    padding: 0.2rem;
    border-radius: 1rem;
  }

  > button:nth-child(2) {
    margin-left: 0.5rem;
  }
}

.inline-spinner {
  > mat-spinner {
    margin-right: 10px;
  }
  display: flex;
}
