<mat-card>
  <mat-card-title>Credentials</mat-card-title>
  <mat-card-subtitle>{{camera == undefined ? 'For Onvif Authentication' : 'For Camera Access'}}</mat-card-subtitle>
  <mat-card-content>
    <div>
      <mat-form-field appearance="outline" [style.width.px]="225">
        <input matInput type="text" autocomplete="off" maxlength="20"
               [formControl]="getFormControl('cameraUserName')"
               [matTooltip]="usernameTooltip"
               matTooltipClass="tooltip"
               placeholder="User name">
        <mat-hint>Admin user name for the cameras</mat-hint>
        <mat-error *ngIf="setPasswordForm.controls['cameraUserName'].hasError('pattern')">5 or more characters and
          numbers
        </mat-error>
        <mat-error *ngIf="setPasswordForm.controls['cameraUserName'].hasError('required')">User name is required
        </mat-error>
      </mat-form-field>
    </div>
    <div>
      <mat-form-field appearance="outline" [style.width.px]="225">
        <input matInput type="password" autocomplete="new-password" maxlength="25"
               [formControl]="getFormControl('cameraPassword')"
               [matTooltip]="passwordTooltip"
               matTooltipClass="tooltip"
               placeholder="Password">
        <mat-hint>Admin password for the cameras</mat-hint>
        <mat-error *ngIf="setPasswordForm.controls['cameraPassword'].hasError('pattern')">Upper, lower case, numbers
          and special chars
        </mat-error>
        <mat-error *ngIf="setPasswordForm.controls['cameraPassword'].hasError('required')">Password is required
        </mat-error>
      </mat-form-field>
    </div>
    <br>
    <span class="cam-creds-confirm-group">
      <button color="default" mat-flat-button (click)="hidePasswordDialogue()"
              matTooltip="Close this dialogue and leave the existing user name and password in place"
              matTooltipClass="tooltip">
        Cancel
      </button>
      <button color="warning" mat-flat-button
              [disabled]="anyInvalid()"
              (click)="updateCredentials()"
              matTooltip="Save the new user name and password"
              matTooltipClass="tooltip">
        Confirm
      </button>
    </span>
  </mat-card-content>
</mat-card>

