<mat-card *ngIf="error || success" [ngClass]="{'alert-danger': error, 'alert-success': success}" class="mat-elevation-z8">
  <div *ngIf="success">
    Success: {{success}}
  </div>
  <div *ngIf="error?.status ==400">
    <div>Validation Error: {{error?.status}}</div>
    <div *ngFor="let validationError of validationErrors">
      {{validationError}}
    </div>
  </div>
  <div *ngIf="!success && error?.status != 400">
    <div *ngIf="error?.status != 0">Error status: {{error?.status}}</div>
    <div *ngIf="showMessageInError">{{isHTML(error?.error) ? error?.message : error?.error}}</div>
    <div *ngIf="!showMessageInError">See logs for more information</div>
  </div>
  <button mat-flat-button class="dismiss-button btn-default" (click)="dismiss()">Dismiss</button>
</mat-card>
