[Unit]

Description=Apache Tomcat Web Application Container
After=network.target
[Service]
Type=forking
User=tomcat
Group=tomcat
Environment="JAVA_HOME=/usr/lib/jvm/java-17-openjdk-arm64"
Environment="CATALINA_HOME=/var/lib/tomcat9"
Environment="CATALINA_PID=/var/lib/tomcat9/temp/tomcat.pid"
Environment="CATALINA_OPTS=-Xms512M -Xmx1024M -server -XX:+UseParallelGC"
ReadWritePaths=/var/log/security-cam/
ReadWritePaths=/etc/security-cam/
ReadWritePaths=/var/security-cam/
ReadWritePaths=/var/lib/tomcat9/webapps/

ExecStart=/var/lib/tomcat9/bin/startup.sh
ExecStop=/var/lib/tomcat9/bin/shutdown.sh
[Install]
WantedBy=multi-user.target
