table {
  width: 100%;
}

tr.detail-row {
  height: 0;
}

tr.element-row.expanded-row:hover {
  background: darkblue;
}

tr.element-row:not(.expanded-row):hover {
  background: darkblue;
}

tr.element-row:not(.expanded-row):active {
  background: grey;
}

.element-row td {
  border-bottom-width: 0;
}

.element-detail {
  overflow: hidden;
  display: flex;
}

.streams-info {
  min-width: 500px;
  margin-bottom: 1rem;
  background-color: #1e1b3d;
}

.expand {
  position: relative;
  font-size: xx-large;
}

mat-form-field {
  margin-top: 5px;
  margin-bottom: 5px;
// font-size: small !important;
  height: 35px !important;
}

td, th {
  padding-left: 0.75rem !important;
  padding-right: 0 !important;
  overflow: visible !important;
}

.bottom-buttons-bar {
  margin-top: 1rem;
  height: 3rem;

  > button {
    // Centre vertically
    top: 50%;
    transform: translateY(-50%);
  }

  width: 100%;
  //margin-right: 160px;
  min-width: 1675px;
}

.file-upload {
  position: relative;
  display: flex;

  > input {
    position: relative;
    left: 2.0rem;
    font-style: italic;
    cursor: default;
  }

  > button:first-of-type {
    position: absolute;
    left: -0.5rem;
    top: 0;
  }

  > input {
    width: 11rem;
  }

  > button:nth-of-type(2) {
    position: absolute;

    mat-icon {
      font-size: medium;
    }

    right: -0.9rem;
    top: 0;

    &:enabled {
      color: red;
    }
  }
}

.snapshot {
  > div {
    position: relative;

    > div {
      position: absolute;
      z-index: 2;
      left: 5rem;
      top: -2rem;
      border: 2px solid #2a2929;
      border-radius: 2px;

      > img {
        height: 352px;
        width: 640px;
      }
    }

    > mat-spinner {
      position: absolute;
      z-index: 2;
      left: 5rem;
    }
  }
}

button.change-password-button {
  position: relative;
  top: 0;
}

div.password-dialogue {
  display: inline;
  position: relative;

  > div {
    width: 17rem;

    > div {
      width: 0;
      height: 0;
      border-left: 10px solid transparent;
      border-right: 10px solid transparent;

      border-bottom: 10px solid #646363;
      z-index: 3;
    }

    z-index: 2;
    left: -2rem;
    overflow: hidden;
    position: absolute;
  }
}

mat-icon.backchannel {
  position: relative;
  top: 3px;
  color: #4ccb4c;
  cursor: pointer;
  font-size: x-large !important;
}

mat-icon.no-backchannel {
  position: relative;
  top: 3px;
  color: #858585;
  cursor: pointer;
  font-size: x-large !important;
}

div.add-onvif-url-dialogue {
  display: inline;
  position: relative;

  > div {
    width: 27rem;

    > div {
      width: 0;
      height: 0;
      border-left: 10px solid transparent;
      border-right: 10px solid transparent;

      border-bottom: 10px solid #646363;
      z-index: 3;
    }

    z-index: 2;
    left: -2rem;
    overflow: hidden;
    position: absolute;
  }
}

td.sort-buttons {
  > span {
    display: inline-flex;

    > button:nth-of-type(1) {
      margin-left: -0.5rem;
      width: 18px;
      height: 18px;
      line-height: 18px;
    }

    > button:nth-of-type(2) {
      width: 18px;
      height: 18px;
      line-height: 18px;
    }
  }
}

mat-icon.sort-button-icon {
  font-size: 18px;
}

.no-credentials {
  animation: pulsing 1300ms infinite;
}

@keyframes pulsing {
  0% {
    color: #800;
  }
  50% {
    color: #f66;
  }
  100% {
    color: #800;
  }
}
