.grey-out {
  background: rgba(255, 255, 255, 0.288);
  opacity: 0.5;
  pointer-events: none;
}

table {
  width: 100%;
}

tr.detail-row {
  height: 0;
}

tr.element-row.expanded-row:hover {
  background: darkblue;
}

tr.element-row:not(.expanded-row):hover {
  background: darkblue;
}

tr.element-row:not(.expanded-row):active {
  background: grey;
}

tr[mat-footer-row] {
  --mat-table-footer-container-height: 55px;
}

.element-row td {
  border-bottom-width: 0;
}

.element-detail {
  overflow: hidden;
  display: flex;
}

.streams-info {
  min-width: 500px;
  margin-bottom: 1rem;
  background-color: #1e1b3d;
}

.expand {
  position: relative;
  top: -1px;
  font-size: xx-large !important;
}

.trash-can {
  position: relative;
  top: 5px;
  transform: scale(1.2);
}

.stream-key {
  position: relative;
  top: 3px;
}

.voicemail {
  position: relative;
  top: 5px;
  color: red;
}

mat-form-field {
  margin-top: 5px;
  margin-bottom: 5px;
  height: 35px !important;
}

td, th {
  padding-left: 0.75rem !important;
  padding-right: 0 !important;
  overflow: visible !important;
}

.bottom-buttons-bar {
  margin-top: 1rem;
  height: 3rem;

  > button {
    // Centre vertically
    top: 50%;
    transform: translateY(-50%);
  }

  width: 100%;
  min-width: 1675px;
}

.snapshot {
  > div {
    position: relative;

    > div {
      position: absolute;
      z-index: 2;
      left: 5rem;
      top: -2rem;
      border: 2px solid #2a2929;
      border-radius: 2px;

      > img {
        height: 352px;
        width: 640px;
      }
    }

    > mat-spinner {
      position: absolute;
      z-index: 2;
      left: 5rem;
    }
  }
}

button.change-password-button {
  position: relative;
  top: 7px;
}

button.change-password-button2 {
  position: relative;
  top: 3px;
}

@mixin top-cursor {
  > div {
    width: 0;
    height: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;

    border-bottom: 10px solid #646363;
    z-index: 3;
  }
  z-index: 2;
  left: -24px;
  top: 13px;
  overflow: hidden;
  position: absolute;

}

.mdc-data-table__cell {
  overflow: visible !important;
}
div.popup-dialogue {
  display: inline;
  position: relative;

  > div {
    width: 17rem;

    @include top-cursor;
  }
}

div.popup-recording-type-dialogue {
  display: inline;
  position: relative;

  > div {
    width: 420px;

    @include top-cursor;
  }
}

@mixin left-cursor($top) {
  display: flex;
  flex-direction: row;
  > div {
    position: relative;
    top: $top;
    width: 0;
    height: 0;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    border-right: 10px solid #646363;
    z-index: 3;
  }
  left: -5px;
  top: -48px;
  z-index: 2;

  overflow: hidden;
  position: absolute;
}


div.popup-stream-delete-confirm-dialogue {
  display: inline;
  position: relative;
  > div {
    width: 17rem;

    @include left-cursor(43px);
  }
}

mat-icon.backchannel {
  position: relative;
  top: 3px;
  color: #4ccb4c;
  cursor: pointer;
  font-size: x-large !important;
}

mat-icon.no-backchannel {
  position: relative;
  top: 3px;
  color: #858585;
  cursor: pointer;
  font-size: x-large !important;
}

div.add-onvif-url-dialogue {
  display: inline;
  position: relative;

  > div {
    width: 27rem;

    @include top-cursor;
  }
}

td.sort-buttons {
  > span {
    display: inline-flex;

    > button:nth-of-type(1) {
      margin-left: -0.5rem;
      width: 18px;
      height: 18px;
      line-height: 18px;
    }

    > button:nth-of-type(2) {
      width: 18px;
      height: 18px;
      line-height: 18px;
    }
  }
}

mat-icon.sort-button-icon {
  font-size: 18px;
}

.no-credentials {
  animation: pulsing 1300ms infinite;
}

@keyframes pulsing {
  0% {
    color: #800;
  }
  50% {
    color: #f66;
  }
  100% {
    color: #800;
  }
}

mat-error {
  left: 0.10rem;
  position: absolute;
  width: 24rem;
}
