table {
  width: 100%;
}

tr.detail-row {
  height: 0;
}

tr.element-row.expanded-row:hover {
  background: darkblue;
}

tr.element-row:not(.expanded-row):hover {
  background: darkblue;
}

tr.element-row:not(.expanded-row):active {
  background: grey;
}

.element-row td {
  border-bottom-width: 0;
}

.element-detail {
  overflow: hidden;
  display: flex;
}

.streams-info {
  min-width: 500px;
  margin-bottom: 1rem;
  background-color: #1e1b3d;
}

.expand {
  position: relative;
  font-size: xx-large;
}

td, th {
  padding-left: 1rem !important;
}

.bottom-buttons-bar {
  margin-top: 1rem;
  height: 3rem;

  > button {
    // Centre vertically
    top: 50%;
    transform: translateY(-50%);
  }

  width: 100%;
  //margin-right: 160px;
  min-width: 1675px;
}

.file-upload {
  position: relative;
  display: flex;

  > input {
    position: relative;
    left: 2.0rem;
    font-style: italic;
    cursor: default;
  }

  > button:first-of-type {
    position: absolute;
    left: -0.5rem;
    top: -1rem;
  }

  > input {
    width: 11rem;
  }

  > button:nth-of-type(2) {
    position: absolute;

    mat-icon {
      font-size: medium;
    }

    right: -0.9rem;
    top: -0.85rem;

    &:enabled {
      color: red;
    }
  }
}

.snapshot {
  > div {
    position: relative;

    > div {
      position: absolute;
      z-index: 2;
      left: 5rem;
      top: -2rem;
      border: 2px solid #2a2929;
      border-radius: 2px;

      > img {
        height: 352px;
        width: 640px;
      }
    }

    > mat-spinner {
      position: absolute;
      z-index: 2;
      left: 5rem;
    }
  }
}

button.change-password-button {
  position: relative;
  top: -0.4rem;
}

div.password-dialogue {
  display: inline;
  position: relative;

  > div {
    width: 17rem;

    > div {
      width: 0;
      height: 0;
      border-left: 10px solid transparent;
      border-right: 10px solid transparent;

      border-bottom: 10px solid #646363;
      z-index: 3;
    }

    z-index: 2;
    left: -2rem;
    overflow: hidden;
    position: absolute;
  }
}

.mat-card-content {
  display: block;
}

mat-icon.backchannel {
  color: #4ccb4c;
  cursor: pointer;
}

mat-icon.no-backchannel {
  color: #858585;
  cursor: pointer;
}

div.add-onvif-url-dialogue {
  display: inline;
  position: relative;

  > div {
    width: 27rem;

    > div {
      width: 0;
      height: 0;
      border-left: 10px solid transparent;
      border-right: 10px solid transparent;

      border-bottom: 10px solid #646363;
      z-index: 3;
    }

    z-index: 2;
    left: -2rem;
    overflow: hidden;
    position: absolute;
  }
}

td.sort-buttons {
  > span {
    display: inline-flex;

    > button:nth-of-type(1) {
      margin-left: -0.5rem;
      width: 18px;
      height: 18px;
      line-height: 18px;
    }

    > button:nth-of-type(2) {
      width: 18px;
      height: 18px;
      line-height: 18px;
    }
  }
}

mat-icon.sort-button-icon {
  font-size: 18px;
}

.no-camera-credentials {
  animation: pulsing 1300ms infinite;
}

@keyframes pulsing {
  0% {
    color: #800;
  }
  50% {
    color: #f66;
  }
  100% {
    color: #800;
  }
}

::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px lightgray;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  box-shadow: inset 0 0 5px lightgray;
  background: #545454;

  &:hover {
    background: #848484;
  }

  border-radius: 10px;
}
@mixin scrollbar-button {
  &:hover {
    background-color: #848484;
  }

  width: 20px;
  height: 20px;
  border-radius: 7px;
}

mat-card-content.scrollable-content {
  width: 100%;
  overflow: auto;

  &::-webkit-scrollbar {
    width: 20px;
    height: 20px;
  }
  &::-webkit-scrollbar-button:single-button:vertical:increment {
    background-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" height="24" viewBox="100 -900 960 960" width="24" fill="white"> <g><path d="M480-200 240-440l56-56 184 183 184-183 56 56-240 240Zm0-240L240-680l56-56 184 183 184-183 56 56-240 240Z"/></g></svg>');
    @include scrollbar-button
  }

  &::-webkit-scrollbar-button:single-button:vertical:decrement {
    background-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" height="24" viewBox="100 -900 960 960" width="24" fill="white"> <g><path d="m296-224-56-56 240-240 240 240-56 56-184-183-184 183Zm0-240-56-56 240-240 240 240-56 56-184-183-184 183Z"/></g></svg>');
    @include scrollbar-button
  }

  &::-webkit-scrollbar-button:single-button:horizontal:decrement {
    background-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" height="24" viewBox="100 -900 960 960" width="24" fill="white"> <g><path d="M440-240 200-480l240-240 56 56-183 184 183 184-56 56Zm264 0L464-480l240-240 56 56-183 184 183 184-56 56Z"/></g></svg>');
    @include scrollbar-button
  }

  &::-webkit-scrollbar-button:single-button:horizontal:increment {
    background-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" height="24" viewBox="100 -900 960 960" width="24" fill="white"> <g><path d="M383-480 200-664l56-56 240 240-240 240-56-56 183-184Zm264 0L464-664l56-56 240 240-240 240-56-56 183-184Z"/></g></svg>');
    @include scrollbar-button
  }

  &::-webkit-scrollbar-corner {
    background-color: inherit;
  }
}
