<!-- Copyright 2019 Google Inc. All Rights Reserved.
    Use of this source code is governed by an MIT-style license that
    can be found in the LICENSE file at http://angular.io/license -->

<mat-card>
    <mat-card-title>Cameras Configuration
      <button class="change-password-button"
              matTooltip="Set or change the user name and password used to access the cameras. All cameras should have the same user name and password."
              matTooltipClass="tooltip"
              mat-icon-button
              (click)="togglePasswordDialogue()">
        <mat-icon>security</mat-icon>
      </button>
      <div class="password-dialogue">
        <div class="mat-elevation-z15" [@detailExpand]="showPasswordDialogue ? 'expanded' : 'collapsed'">
          <div>
          </div>
          <app-credentials-for-camera-access
            (hideDialogue)="togglePasswordDialogue()"></app-credentials-for-camera-access>
        </div>
      </div>
    </mat-card-title>
  <mat-card-content class="wait-box mat-form-field-flex" *ngIf="downloading">
    <mat-spinner [diameter]="25"></mat-spinner>
    <span>Loading, Please wait..</span>
  </mat-card-content>
  <mat-card-content class="wait-box mat-form-field-flex" *ngIf="updating">
    <mat-spinner [diameter]="25"></mat-spinner>
    <span>Updating Cameras Data, Please wait..</span>
  </mat-card-content>
  <mat-card-content class="wait-box mat-form-field-flex" *ngIf="discovering">
    <mat-spinner [diameter]="25"></mat-spinner>
    <span>Camera discovery active, Please wait..</span>
  </mat-card-content>
  <mat-card-content *ngIf="!downloading  && !updating && !discovering">
    <table mat-table
           [dataSource]="cameras | mapToKeyValue" multiTemplateDataRows
           class="mat-elevation-z8">

      <ng-container matColumnDef="camera_id">
        <th mat-header-cell *matHeaderCellDef>Camera ID</th>
        <td class="snapshot"
            [style]="cam.value.snapshotUri != '' ? '  cursor: pointer;' : ''"
            mat-cell
            *matCellDef="let cam" (mousedown)="getSnapshot(cam)"
            matTooltip="The logical id of the camera (sequential numbering)"
            matTooltipClass="tooltip">
          {{cam.key}}
          <div *ngIf="snapShotKey==cam.key && cam.value.snapshotUri !== ''">
            <mat-spinner [diameter]="25" *ngIf="snapshotLoading"></mat-spinner>
            <div class="snapshot mat-elevation-z8">
              <img #outputframeid [src]="this.snapshot" *ngIf="!snapshotLoading" alt="Snapshot from {{cam.key}}">
            </div>
          </div>
        </td>
      </ng-container>

      <ng-container matColumnDef="delete">
        <th mat-header-cell *matHeaderCellDef>Delete</th>
        <td mat-cell *matCellDef="let cam">
          <button mat-icon-button matTooltip="Delete {{cam.key}}" matTooltipClass="tooltip"
                  [disabled]="cameras.size <= 1 || confirmSave || confirmNew"
                  (click)="deleteCamera(cam.key)">
            <mat-icon>delete</mat-icon>
          </button>
        </td>
      </ng-container>

      <ng-container matColumnDef="expand">
        <th mat-header-cell *matHeaderCellDef>Expand</th>
        <td mat-cell *matCellDef="let cam" (click)="toggle(cam)">
          <button mat-icon-button
                  matTooltip="{{expandedElement == cam.value ? 'Hide' : 'Show'}} the streams for {{cam.key}}"
                  matTooltipClass="tooltip">
            <mat-icon class="expand" [@openClose]="expandedElement == cam.value ? 'open' : 'closed'">arrow_right
            </mat-icon>
          </button>
        </td>
      </ng-container>

      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef>Name.</th>
        <td mat-cell *matCellDef="let cam; dataIndex as i">
          <mat-form-field appearance="legacy" [style.width.px]="180">
            <input matInput type="text" autocomplete="off" maxlength="25" [formControl]="getCamControl(i, 'name')"
                   matTooltip="Enter the name to identify {{cam.key}} in the menus"
                   matTooltipClass="tooltip"
                   placeholder="Camera Name" (change)="updateCamField(i, 'name')">
            <!--            <mat-hint>Change camera name if required</mat-hint>-->
          </mat-form-field>
        </td>
      </ng-container>

      <ng-container matColumnDef="controlUri">
        <th mat-header-cell *matHeaderCellDef>Control URI.</th>
        <td mat-cell *matCellDef="let cam; let i = dataIndex">
          <mat-form-field appearance="legacy" [style.width.px]="150">
            <!--Call setUpTableFormControls after  updateCamField on changed selection to ensure the address field
                enabled state is updated.-->
            <mat-select [formControl]="getCamControl(i, 'controlUri')"
                        (selectionChange)="updateCamField(i, 'controlUri'); setUpTableFormControls()"
                        matTooltip="Select the camera type to enable control of image text and infra red status from the web application. Set to 'None' to disable this feature, or if the camera type is not listed."
                        matTooltipClass="tooltip">
              <mat-option [value]="''">
                None
              </mat-option>
              <mat-option [value]="'web/cgi-bin/hi3510/param.cgi'">
                For SV3C Cameras
              </mat-option>
            </mat-select>
          </mat-form-field>
        </td>
      </ng-container>

      <ng-container matColumnDef="address">
        <th mat-header-cell *matHeaderCellDef>Address.</th>
        <td mat-cell *matCellDef="let cam; let i = dataIndex">
          <mat-form-field appearance="legacy" [style.width.px]="180">
            <input matInput type="text" autocomplete="off" maxlength="15" [formControl]="getCamControl(i, 'address')"
                   matTooltip="The IP address of {{cam.key}}. This is required if the ControlURI is set to anything other than 'None'."
                   matTooltipClass="tooltip"
                   placeholder="Camera IP Address" (change)="updateCamField(i, 'address')">
          </mat-form-field>
        </td>
      </ng-container>

      <!-- Expanded Streams Column - The streams row is made up of this one column that spans across all columns -->
      <ng-container matColumnDef="expandedStreamDetail">
        <td mat-cell *matCellDef="let cam; let camIndex=dataIndex" [attr.colspan]="cameraColumns.length">
          <div class="example-element-detail mat-elevation-z10"
               [@detailExpand]="cam.value == expandedElement ? 'expanded' : 'collapsed'">
            <table mat-table [dataSource]="cam.value.streams | mapToKeyValue" class="streams-info mat-elevation-z10">
              <ng-container matColumnDef="stream_id">
                <th mat-header-cell *matHeaderCellDef>Stream ID</th>
                <td mat-cell *matCellDef="let stream" [width]="60"
                    matTooltip="The logical id of the stream (sequential numbering)"
                    matTooltipClass="tooltip">
                  {{stream.key}}</td>
              </ng-container>
              <ng-container matColumnDef="delete">
                <th mat-header-cell *matHeaderCellDef>Delete</th>
                <td mat-cell *matCellDef="let stream" [width]="50">
                  <button mat-icon-button matTooltip="Delete this stream" matTooltipClass="tooltip"
                          [disabled]="(cam.value.streams.size <= 1) || confirmSave || confirmNew"
                          (click)="deleteStream(cam.key, stream.key)">
                    <mat-icon>delete</mat-icon>
                  </button>
                </td>
              </ng-container>
              <ng-container matColumnDef="descr">
                <th mat-header-cell *matHeaderCellDef> Descr.</th>
                <td mat-cell *matCellDef="let stream; let streamIndex = index">
                  <mat-form-field appearance="legacy">
                    <input matInput type="text" autocomplete="off" maxlength="25"
                           [formControl]="getStreamControl(camIndex, streamIndex, 'descr')"
                           matTooltip="Set the description for {{stream.key}}. This is usually relating to the resolution of the stream."
                           matTooltipClass="tooltip"
                           placeholder="Stream Description"
                           (change)="updateStreamField(camIndex, streamIndex, 'descr')">
                  </mat-form-field>
                </td>
              </ng-container>
              <ng-container matColumnDef="netcam_uri">
                <th mat-header-cell *matHeaderCellDef> Netcam URI.</th>
                <td mat-cell *matCellDef="let stream; let streamIndex = index">
                  <mat-form-field appearance="legacy">
                    <input matInput type="text" autocomplete="off" maxlength="55"
                           [formControl]="getStreamControl(camIndex, streamIndex, 'netcam_uri')"
                           matTooltip="Set the URI for connection to the camera stream. This is in the form 'rtsp://<ip address>/<uri>"
                           matTooltipClass="tooltip"
                           placeholder="Netcam URI" (blur)="updateStreamField(camIndex, streamIndex, 'netcam_uri')">
                  </mat-form-field>

                </td>
              </ng-container>
              <ng-container matColumnDef="defaultOnMultiDisplay">
                <th mat-header-cell *matHeaderCellDef>Default On Multi Display</th>
                <td mat-cell *matCellDef="let stream; let streamIndex = index">
                  <mat-checkbox [color]="'primary'" [checked]="stream.value.defaultOnMultiDisplay"
                                (change)="setDefaultOnMultiDisplayStatus($event, stream.value,  cam.value)"
                                matTooltip="If checked, {{stream.key}} will be the default stream for {{cam.key}} on the multi camera display."
                                matTooltipClass="tooltip">
                    {{'Default On Multi Display'}}
                  </mat-checkbox>
                </td>
              </ng-container>
              <ng-container matColumnDef="motion">
                <th mat-header-cell *matHeaderCellDef>Motion Sensing</th>
                <td mat-cell *matCellDef="let stream; let streamIndex = index">
                  <mat-checkbox [color]="'primary'" [checked]="stream.value.motion.enabled"
                                (change)="setMotionStatus($event, stream.value,  cam.value)"
                                matTooltip="If checked, motion detection and its consequent recording will be enabled on {{stream.key}}. Only one stream from a camera can have motion detection enabled. Where a camera has more than one stream, the lower resolution stream is best used for motion detection to keep CPU usage down."
                                matTooltipClass="tooltip">
                    {{'Motion'}}
                  </mat-checkbox>
                </td>
              </ng-container>
              <ng-container matColumnDef="trigger_recording_on">
                <th mat-header-cell *matHeaderCellDef>Trigger Recording On</th>
                <td mat-cell *matCellDef="let stream; let streamIndex = index">
                  <mat-form-field appearance="legacy" [style.width.px]="80">
                    <mat-select [formControl]="getStreamControl(camIndex, streamIndex, 'trigger_recording_on')"
                                (selectionChange)="setRecordingTrigger($event, stream.value)"
                                [disabled]="!stream.value.motion.enabled"
                                matTooltip="Select another stream on the camera to trigger a recording on when motion is detected on {{stream.key}}. Normally you would select the highest resolution stream on the camera."
                                matTooltipClass="tooltip">
                      <mat-option [value]="''">
                        None
                      </mat-option>
                      <mat-option
                        *ngFor="let camStream of cam.value.streams | mapToKeyValue | excludeOwnStream:stream.key"
                        [value]="cam.key+'.'+camStream.key">
                        {{camStream.key}}
                      </mat-option>
                    </mat-select>
                  </mat-form-field>
                </td>
              </ng-container>
              <ng-container matColumnDef="mask_file">
                <th mat-header-cell *matHeaderCellDef> Mask File</th>
                <td mat-cell *matCellDef="let stream; let streamIndex = index">
                  <mat-form-field appearance="legacy" [style.width.px]="220">
                    <input style="position: absolute"
                           hidden #fileInput type="file" accept=".pgm"
                           (change)="uploadMaskFile($event, cam.key, camIndex, streamIndex)"/>
                    <div class="file-upload">
                      <button type="button" mat-icon-button (click)="fileInput.click()"
                              [disabled]="!stream.value.motion.enabled"
                              matTooltip="Select a mask file to upload. This is a .pgm file where motion detection is disabled where the image is black, shades of grey attenuate motion detection sensitivity, and white areas allow full motion detection sensitivity."
                              matTooltipClass="tooltip">

                        <mat-icon>file_upload</mat-icon>
                      </button>
                      <input matInput type="text" readonly
                             [formControl]="getStreamControl(camIndex, streamIndex, 'mask_file')">
                      <button type="button" mat-icon-button
                              (click)="stream.value.motion.mask_file='';
                              getStreamControl(camIndex, streamIndex, 'mask_file').setValue('')"
                              [disabled]="!stream.value.motion.enabled"
                              matTooltip="Click to clear this field (no mask file)"
                              matTooltipClass="tooltip">
                        <mat-icon>close</mat-icon>
                      </button>
                    </div>
                  </mat-form-field>
                </td>
              </ng-container>
              <ng-container matColumnDef="video_width">
                <th mat-header-cell *matHeaderCellDef> Video Width</th>
                <td mat-cell *matCellDef="let stream; let streamIndex = index">
                  <mat-form-field appearance="legacy" [style.width.px]="80">
                    <input matInput type="number" autocomplete="off" maxlength="4"
                           [formControl]="getStreamControl(camIndex, streamIndex,'video_width')"
                           matTooltip="The width in pixels of the video on {{stream.key}}. This is required if motion detection is enabled on {{stream.key}}."
                           matTooltipClass="tooltip"
                           placeholder="Video Width" (blur)="updateStreamField(camIndex, streamIndex, 'video_width')">
                  </mat-form-field>
                </td>
              </ng-container>
              <ng-container matColumnDef="video_height">
                <th mat-header-cell *matHeaderCellDef> Video Height</th>
                <td mat-cell *matCellDef="let stream; let streamIndex = index">
                  <mat-form-field appearance="legacy" [style.width.px]="80">
                    <input matInput type="number" autocomplete="off" maxlength="4"
                           [formControl]="getStreamControl(camIndex, streamIndex,'video_height')"
                           matTooltip="The height in pixels of the video on {{stream.key}}. This is required if motion detection is enabled on {{stream.key}}."
                           matTooltipClass="tooltip"
                           placeholder="Video Height" (blur)="updateStreamField(camIndex, streamIndex, 'video_height')">
                  </mat-form-field>
                </td>
              </ng-container>

              <!-- Streams table Footer with the control buttons -->
              <ng-container matColumnDef="buttons">
                <td mat-footer-cell *matFooterCellDef>
                  <button [disabled]="anyInvalid() || confirmSave || confirmNew || totalNumberOfStreams() >= 10"
                          mat-icon-button style
                          (click)="addStream(cam.value)"
                          matTooltip="Add another stream for {{cam.key}}."
                          matTooltipClass="tooltip">
                    <mat-icon>add</mat-icon>
                  </button>
                </td>
              </ng-container>

              <tr mat-header-row *matHeaderRowDef="streamColumns"></tr>
              <tr mat-row *matRowDef="let stream; columns: streamColumns"></tr>
              <tr mat-footer-row *matFooterRowDef="streamFooterColumns"></tr>
            </table>
          </div>
        </td>
      </ng-container>

      <!-- Cameras table Footer with the control buttons -->
      <ng-container matColumnDef="buttons">
        <td mat-footer-cell [attr.colspan]="cameraColumns.length" *matFooterCellDef>
          <button
            [disabled]="anyInvalid() || confirmSave || confirmNew || confirmNewLookup || totalNumberOfStreams() >= 10"
            mat-icon-button
            (click)="addCamera()"
            matTooltip="Add another camera."
            matTooltipClass="tooltip">
            <mat-icon>add</mat-icon>
          </button>
          <button [disabled]="anyInvalid() || confirmSave" mat-icon-button (click)="confirmNew=true"
                  matTooltip="Start a new configuration"
                  matTooltipClass="tooltip"
                  *ngIf="!confirmNew && !confirmNewLookup">
            <mat-icon>note</mat-icon>
          </button>
          <button [disabled]="confirmSave || confirmNewLookup" mat-icon-button (click)="confirmNewLookup=true"
                  matTooltip="Perform onvif LAN search for cameras"
                  matTooltipClass="tooltip"
                  *ngIf="!confirmNewLookup && !confirmNewLookup">
            <mat-icon>explore</mat-icon>
          </button>
          <button [disabled]="anyInvalid() || confirmNew || confirmNewLookup" mat-icon-button (click)="confirmSave=true"
                  matTooltip="Commit the current configuration in this editor"
                  matTooltipClass="tooltip"
                  *ngIf="!confirmSave && !confirmNewLookup">
            <mat-icon>save</mat-icon>
          </button>
          <span class="confirm-group" *ngIf="confirmNew">
            <span>Start a new configuration, are you sure?</span>
            <button color="default" mat-flat-button (click)="confirmNew=false">
              Cancel
            </button>
            <button color="warning" mat-flat-button (click)="createNew();confirmNew=false;">
              New
            </button>
          </span>
          <span class="confirm-group" *ngIf="confirmNewLookup">
            <span>Start Onvif camera search, are you sure?</span>
            <button color="default" mat-flat-button (click)="confirmNewLookup=false">
              Cancel
            </button>
            <button color="warning" mat-flat-button (click)="startOnvifSearch();confirmNewLookup=false;">
              Search
            </button>
          </span>
          <span class="confirm-group" *ngIf="confirmSave">
            <span>Save this as the working configuration, are you sure?</span>
            <button color="default" mat-flat-button (click)="confirmSave=false">
              Cancel
            </button>
            <button color="warning" mat-flat-button (click)="commitConfig();confirmSave=false;">
              Save
            </button>
          </span>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="cameraColumns"></tr>
      <tr mat-row *matRowDef="let cam; columns: cameraColumns;"
          class="example-element-row"
          [class.example-expanded-row]="expandedElement === cam.value">
      </tr>

      <tr mat-row *matRowDef="let e; columns: ['expandedStreamDetail']" class="example-detail-row">
      </tr>
      <tr mat-footer-row *matFooterRowDef="cameraFooterColumns"></tr>
    </table>
  </mat-card-content>
</mat-card>

<app-reporting #errorReporting></app-reporting>
