<!-- Copyright 2019 Google Inc. All Rights Reserved.
    Use of this source code is governed by an MIT-style license that
    can be found in the LICENSE file at http://angular.io/license -->

<mat-card>
  <mat-card-title>Cameras Configuration
    <span
      [matTooltip]="!haveCameraCredentials ? 'Camera credentials are not set, please enter a username and password. If your cameras do not use authentication for web admin or snapshots, this will not be required' : isGuest ? 'Disabled for guest' : 'Set or change the user name and password used to access the cameras. All cameras should have the same user name and password.'"
      matTooltipClass="tooltip">
      <button class="change-password-button"
              mat-icon-button
              [disabled]="isGuest"
              (click)="togglePasswordDialogue()">
        <mat-icon [ngClass]="{'no-camera-credentials': !haveCameraCredentials}">security</mat-icon>
      </button>
    </span>
    <div class="password-dialogue">
      <div class="mat-elevation-z15" [@detailExpand]="showPasswordDialogue ? 'expanded' : 'collapsed'">
        <div>
        </div>
        <app-credentials-for-camera-access
          (hideDialogue)="togglePasswordDialogue()"
          [reporting]="errorReporting">
        </app-credentials-for-camera-access>
      </div>
    </div>
  </mat-card-title>
  <mat-card-content class="wait-box mat-form-field-flex" *ngIf="downloading">
    <mat-spinner [diameter]="25"></mat-spinner>
    <span>Loading, Please wait..</span>
  </mat-card-content>
  <mat-card-content class="wait-box mat-form-field-flex" *ngIf="updating">
    <mat-spinner [diameter]="25"></mat-spinner>
    <span>Updating Cameras Data, Please wait..</span>
  </mat-card-content>
  <mat-card-content class="wait-box mat-form-field-flex" *ngIf="discovering">
    <mat-spinner [diameter]="25"></mat-spinner>
    <span>Camera discovery active, Please wait..</span>
  </mat-card-content>
  <mat-card-content *ngIf="!downloading  && !updating && !discovering">
    <table mat-table
           [dataSource]="cameras | mapToKeyValue" multiTemplateDataRows
           class="mat-elevation-z8">
      <ng-container matColumnDef="sorting">
        <th mat-header-cell *matHeaderCellDef>Sorting</th>
        <td mat-cell
            class="sort-buttons"
            *matCellDef="let cam">
          <span>
            <button [disabled]="lastElement(cam) || anyInvalid() || confirmNew || confirmNewLookup || isGuest"
                    mat-icon-button (click)="moveDown(cam)"
                    [matTooltip]="lastElement(cam) ? '' : 'Click to move '+cam.value.name+' down 1 step'"
                    matTooltipClass="tooltip"
                    class="sort-button-icon">
              <mat-icon class="sort-button-icon">arrow_downward</mat-icon>
            </button>
            <button [disabled]="cam.key=='camera1' || anyInvalid() || confirmNew || confirmNewLookup || isGuest"
                    mat-icon-button (click)="moveUp(cam)"
                    [matTooltip]="cam.key=='camera1' ? '' : 'Click to move '+cam.value.name+' up 1 step'"
                    matTooltipClass="tooltip"
                    class="sort-button-icon">
              <mat-icon class="sort-button-icon">arrow_upward</mat-icon>
            </button>
          </span>
        </td>
      </ng-container>

      <ng-container matColumnDef="camera_id">
        <th mat-header-cell *matHeaderCellDef>Camera ID</th>
        <td class="snapshot"
            [style]="cam.value.snapshotUri != '' ? '  cursor: pointer;' : ''"
            mat-cell
            *matCellDef="let cam" (mousedown)="getSnapshot(cam)"
            matTooltip="The logical id of the camera (sequential numbering).{{cam.value.snapshotUri != '' ? ' Click to show a snapshot from this camera.' : ''}}"
            matTooltipClass="tooltip">
          {{cam.key}}
          <div *ngIf="snapShotKey==cam.key && cam.value.snapshotUri !== ''">
            <mat-spinner [diameter]="25" *ngIf="snapshotLoading"></mat-spinner>
            <div class="snapshot mat-elevation-z8">
              <img #outputframeid [src]="this.snapshot" *ngIf="!snapshotLoading" alt="Snapshot from {{cam.key}}">
            </div>
          </div>
        </td>
      </ng-container>

      <ng-container matColumnDef="delete">
        <th mat-header-cell *matHeaderCellDef>Delete</th>
        <td mat-cell *matCellDef="let cam">
          <button mat-icon-button matTooltip="Delete {{cam.key}}" matTooltipClass="tooltip"
                  [disabled]="cameras.size <= 1 || confirmSave || confirmNew"
                  (click)="deleteCamera(cam.key)">
            <mat-icon>delete</mat-icon>
          </button>
        </td>
      </ng-container>

      <ng-container matColumnDef="expand">
        <th mat-header-cell *matHeaderCellDef>Expand</th>
        <td mat-cell *matCellDef="let cam" (click)="toggle(cam)">
          <button mat-icon-button
                  matTooltip="{{expandedElement == cam.value ? 'Hide' : 'Show'}} the streams for {{cam.key}}"
                  matTooltipClass="tooltip">
            <mat-icon class="expand" [@openClose]="expandedElement == cam.value ? 'open' : 'closed'">arrow_right
            </mat-icon>
          </button>
        </td>
      </ng-container>

      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef>Name.</th>
        <td mat-cell *matCellDef="let cam; dataIndex as i">
          <mat-form-field appearance="legacy" [style.width.px]="180">
            <input matInput type="text" autocomplete="off" maxlength="25" [formControl]="getCamControl(i, 'name')"
                   matTooltip="Enter the name to identify {{cam.key}} in the menus"
                   matTooltipClass="tooltip"
                   placeholder="Camera Name" (change)="updateCamField(i, 'name')">
            <mat-error *ngIf="getCamControl(i, 'name').invalid">Camera name is required</mat-error>
          </mat-form-field>
        </td>
      </ng-container>

      <ng-container matColumnDef="cameraParamSpecs">
        <th mat-header-cell *matHeaderCellDef>Camera Type.</th>
        <td mat-cell *matCellDef="let cam; let i = dataIndex">
          <mat-form-field appearance="legacy" [style.width.px]="150">
            <!--Call setUpTableFormControls after  updateCamField on changed selection to ensure the address field
                enabled state is updated.-->
            <mat-select [formControl]="getCamControl(i, 'cameraParamSpecs')"
                        (selectionChange)="updateCamField(i, 'cameraParamSpecs'); setUpTableFormControls()"
                        matTooltip="Select the camera type to enable control of image text and infra red status from the web application. Set to 'Not Listed' to disable this feature, or if the camera type is not listed."
                        matTooltipClass="tooltip">
              <mat-option *ngFor="let spec of cameraSvc.cameraParamSpecs" [value]="spec">
                {{spec.name}}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </td>
      </ng-container>
      <ng-container matColumnDef="ftp">
        <th mat-header-cell *matHeaderCellDef>FTP From Camera.</th>
        <td mat-cell *matCellDef="let cam; let i = dataIndex">
          <mat-checkbox [formControl]="getCamControl(i, 'ftp')"
                        [disabled]="getFTPDisabledState(cam.value)"
                        matTooltip="{{motionSet(cam.value) ? 'To use FTP upload from the camera, you must not have motion selected on any stream.' :
                        'If checked, make event recordings sent by FTP from '+ cam.key + ' available in the recordings selection.'}}"
                        matTooltipClass="tooltip"
                        (change)="updateCamField(i, 'ftp')">
          </mat-checkbox>
          <mat-error *ngIf="getCamControl(i, 'ftp').invalid">Set the FTP status</mat-error>
        </td>
      </ng-container>
      <ng-container matColumnDef="retrigger-window">
        <th mat-header-cell *matHeaderCellDef>Retrigger Window.</th>
        <td mat-cell *matCellDef="let cam; let i = dataIndex">
          <mat-form-field appearance="legacy" [style.width.px]="50">
            <mat-select [formControl]="getCamControl(i, 'retriggerWindow')"
                        (selectionChange)="updateCamField(i, 'retriggerWindow')"
                        [disabled]="!cam.value.ftp"
                        matTooltip="Select the maximum time in seconds that can elapse between FTP uploads from the camere for the recording to be extended further by this selected time. The absence of another FTP within this window will result in the recording being completed."
                        matTooltipClass="tooltip">
              <mat-option *ngFor="let win of cameraSvc.ftpRetriggerWindows" [value]="win.value">
                {{win.name}}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </td>
      </ng-container>

      <ng-container matColumnDef="address">
        <th mat-header-cell *matHeaderCellDef>Address.</th>
        <td mat-cell *matCellDef="let cam; let i = dataIndex">
          <mat-form-field appearance="legacy" [style.width.px]="180">
            <input matInput type="text" autocomplete="off" maxlength="15" [formControl]="getCamControl(i, 'address')"
                   matTooltip="The IP address of {{cam.key}}. This is required if the ControlURI is set to anything other than 'None'."
                   matTooltipClass="tooltip"
                   placeholder="Camera IP Address" (change)="updateCamField(i, 'address')">
            <mat-error *ngIf="getCamControl(i, 'address').invalid">Enter a valid IP address</mat-error>
          </mat-form-field>
        </td>
      </ng-container>

      <ng-container matColumnDef="snapshotUri">
        <th mat-header-cell *matHeaderCellDef>Snapshot URI.</th>
        <td mat-cell *matCellDef="let cam; let i = dataIndex">
          <mat-form-field appearance="legacy" [style.width.px]="300">
            <input matInput type="text" autocomplete="off" maxlength="150"
                   [formControl]="getCamControl(i, 'snapshotUri')"
                   matTooltip="The URI for snapshots for {{cam.key}}. This is used to view the image from the camera by clicking on the camera ID in the Cameras Configuration editor."
                   matTooltipClass="tooltip"
                   placeholder="Snapshot URI" (change)="updateCamField(i, 'snapshotUri')">
            <mat-error *ngIf="getCamControl(i, 'snapshotUri').invalid">Enter the URI</mat-error>
          </mat-form-field>
        </td>
      </ng-container>

      <ng-container matColumnDef="useRtspAuth">
        <th mat-header-cell *matHeaderCellDef>RTSP Authentication.</th>
        <td mat-cell *matCellDef="let cam; let i = dataIndex">
          <mat-checkbox [formControl]="getCamControl(i, 'useRtspAuth')"
                        matTooltip="{{'Use authentication on the RTSP streams on '+ cam.key + ' If checked. The username and password for all cameras are entered on the cameras configuration page by clicking the button to the right of the page title.'}}"
                        matTooltipClass="tooltip"
                        (change)="updateCamField(i, 'useRtspAuth')">
          </mat-checkbox>
          <mat-error *ngIf="getCamControl(i, 'useRtspAuth').invalid">Set the RTSP auth status</mat-error>
        </td>
      </ng-container>

      <ng-container matColumnDef="rtspTransport">
        <th mat-header-cell *matHeaderCellDef>RTSP Transport.</th>
        <td mat-cell *matCellDef="let cam; let i = dataIndex">
          <mat-form-field appearance="legacy" [style.width.px]="75">
            <!--Call setUpTableFormControls after  updateCamField on changed selection to ensure the address field
                enabled state is updated.-->
            <mat-select [formControl]="getCamControl(i, 'rtspTransport')"
                        (selectionChange)="updateCamField(i, 'rtspTransport'); setUpTableFormControls()"
                        matTooltip="Select the transport protocol to be used between {{cam.key}} and the NVR"
                        matTooltipClass="tooltip">
              <mat-option value="tcp">
                TCP
              </mat-option>
              <mat-option value="udp">
                UDP
              </mat-option>
            </mat-select>
          </mat-form-field>
        </td>
      </ng-container>

      <ng-container matColumnDef="backchannelAudioSupported">
        <th mat-header-cell *matHeaderCellDef>Audio Backchannel.</th>
        <td mat-cell *matCellDef="let cam; let i = dataIndex">
          <mat-icon (click)="toggleBackChannelAudio(cam.value)"
                    [ngClass]="{'backchannel': cam.value.backchannelAudioSupported, 'no-backchannel': !cam.value.backchannelAudioSupported}"
                    [matTooltip]="cam.value.backchannelAudioSupported ? 'Two way audio enabled for this device (please ensure the device supports 2 way audio)' : 'Two way audio is not enabled for this device'"
                    matTooltipClass="tooltip">
            {{cam.value.backchannelAudioSupported ? "check_circle" : "cancel"}}
          </mat-icon>
        </td>
      </ng-container>

      <ng-container matColumnDef="ptzControls">
        <th mat-header-cell *matHeaderCellDef>PTZ Controls.</th>
        <td mat-cell *matCellDef="let cam; let i = dataIndex">
          <mat-checkbox [formControl]="getCamControl(i, 'ptzControls')"
                        [disabled]="setPTZControlsCheckboxDisabledState(i)"
                        matTooltip="The Pan Tilt and Zoom controls for {{cam.key}} will be present on the live stream view if checked."
                        matTooltipClass="tooltip"
                        (change)="updateCamField(i, 'ptzControls')">
          </mat-checkbox>
        </td>
      </ng-container>

      <ng-container matColumnDef="onvifHost">
        <th mat-header-cell *matHeaderCellDef>ONVIF Base Address.</th>
        <td mat-cell *matCellDef="let cam; let i = dataIndex">
          <mat-form-field appearance="legacy" [style.width.px]="200">
            <input matInput type="text" autocomplete="off" maxlength="22"
                   [formControl]="getCamControl(i, 'onvifHost')"
                   matTooltip="The IP address and port (if not 80) for {{cam.key}} ONVIF operations. This is required if PTZ control is enabled for {{cam.key}}."
                   matTooltipClass="tooltip"
                   placeholder="ONVIF Host"
                   (change)="updateCamField(i, 'onvifHost')">
            <mat-error *ngIf="getCamControl(i, 'onvifHost').invalid">Enter the ONVIF base address</mat-error>
          </mat-form-field>
        </td>
      </ng-container>

      <!-- Expanded Streams Column - The streams row is made up of this one column that spans across all columns -->
      <ng-container matColumnDef="expandedStreamDetail">
        <td mat-cell *matCellDef="let cam; let camIndex=dataIndex" [attr.colspan]="cameraColumns.length">
          <div class="element-detail mat-elevation-z10"
               [@detailExpand]="cam.value == expandedElement ? 'expanded' : 'collapsed'">
            <table mat-table [dataSource]="cam.value.streams | mapToKeyValue" class="streams-info mat-elevation-z10">
              <ng-container matColumnDef="stream_id">
                <th mat-header-cell *matHeaderCellDef>Stream ID</th>
                <td mat-cell *matCellDef="let stream" [width]="60"
                    matTooltip="The logical id of the stream (sequential numbering)"
                    matTooltipClass="tooltip">
                  {{stream.key}}</td>
              </ng-container>
              <ng-container matColumnDef="delete">
                <th mat-header-cell *matHeaderCellDef>Delete</th>
                <td mat-cell *matCellDef="let stream" [width]="50">
                  <button mat-icon-button matTooltip="Delete this stream" matTooltipClass="tooltip"
                          [disabled]="(cam.value.streams.size <= 1) || confirmSave || confirmNew"
                          (click)="deleteStream(cam.key, stream.key)">
                    <mat-icon>delete</mat-icon>
                  </button>
                </td>
              </ng-container>
              <ng-container matColumnDef="descr">
                <th mat-header-cell *matHeaderCellDef> Descr.</th>
                <td mat-cell *matCellDef="let stream; let streamIndex = index">
                  <mat-form-field appearance="legacy">
                    <input matInput type="text" autocomplete="off" maxlength="20"
                           [formControl]="getStreamControl(camIndex, streamIndex, 'descr')"
                           matTooltip="Set the description for {{stream.key}}. This is usually relating to the resolution of the stream."
                           matTooltipClass="tooltip"
                           placeholder="Stream Description"
                           (change)="updateStreamField(camIndex, streamIndex, 'descr')">
                    <mat-error *ngIf="getStreamControl(camIndex, streamIndex, 'descr').hasError('required')">
                      Description
                      is required
                    </mat-error>
                    <mat-error *ngIf="getStreamControl(camIndex, streamIndex, 'descr').hasError('pattern')">2-20
                      characters, no special characters
                    </mat-error>
                  </mat-form-field>
                </td>
              </ng-container>
              <ng-container matColumnDef="audio">
                <th mat-header-cell *matHeaderCellDef>Audio</th>
                <td mat-cell *matCellDef="let stream; let streamIndex = index">
                  <mat-checkbox [color]="'primary'" [checked]="stream.value.audio"
                                (change)="setAudioInEnabledStatus($event, stream.value)"
                                [disabled]="stream.value.audio_encoding == 'None'"
                                matTooltip="If checked, audio will be enabled on {{stream.key}} for {{cam.key}}."
                                matTooltipClass="tooltip">
                  </mat-checkbox>
                  <mat-error *ngIf="getStreamControl(camIndex, streamIndex, 'audio').hasError('required')">
                    audio is required
                  </mat-error>
                </td>
              </ng-container>
              <ng-container matColumnDef="audio_encoding">
                <th mat-header-cell *matHeaderCellDef>Audio Encoding</th>
                <td mat-cell *matCellDef="let stream; let streamIndex = index">
                  <mat-form-field appearance="legacy" [style.width.px]="90">
                    <mat-select [formControl]="getStreamControl(camIndex, streamIndex, 'audio_encoding')"
                                (selectionChange)="updateAudioEncoding($event, stream.value)"
                                matTooltip="Set the audio encoding (G711 or AAC) for {{stream.key}}. If you are unsure, select 'Not Listed'"
                                matTooltipClass="tooltip">
                      <mat-option *ngFor="let enc of cameraSvc.audioEncodings" [value]="enc.value">
                        {{enc.name}}
                      </mat-option>
                    </mat-select>
                    <mat-error *ngIf="getStreamControl(camIndex, streamIndex, 'audio_encoding').hasError('required')">
                      Audio encoding is required
                    </mat-error>
                    <mat-error *ngIf="getStreamControl(camIndex, streamIndex, 'audio_encoding').hasError('pattern')">
                      Error
                    </mat-error>
                  </mat-form-field>
                </td>
              </ng-container>
              <ng-container matColumnDef="netcam_uri">
                <th mat-header-cell *matHeaderCellDef> Netcam URI.</th>
                <td mat-cell *matCellDef="let stream; let streamIndex = index">
                  <mat-form-field appearance="legacy">
                    <input matInput type="text" autocomplete="off" maxlength="105"
                           [formControl]="getStreamControl(camIndex, streamIndex, 'netcam_uri')"
                           matTooltip="Set the URI for connection to the camera stream. This is in the form 'rtsp://<ip address>/<uri>"
                           matTooltipClass="tooltip"
                           placeholder="Netcam URI" (blur)="updateStreamField(camIndex, streamIndex, 'netcam_uri')">
                    <mat-error *ngIf="getStreamControl(camIndex, streamIndex, 'netcam_uri').hasError('pattern')">
                      Should
                      be: rtsp://[uri..]
                    </mat-error>
                    <mat-error *ngIf="getStreamControl(camIndex, streamIndex, 'netcam_uri').hasError('required')">
                      Netcam
                      URI is required
                    </mat-error>
                  </mat-form-field>
                </td>
              </ng-container>
              <ng-container matColumnDef="defaultOnMultiDisplay">
                <th mat-header-cell *matHeaderCellDef>Default On Multi Display</th>
                <td mat-cell *matCellDef="let stream; let streamIndex = index">
                  <mat-checkbox [color]="'primary'" [checked]="stream.value.defaultOnMultiDisplay"
                                (change)="setDefaultOnMultiDisplayStatus($event, stream.value,  cam.value)"
                                matTooltip="If checked, {{stream.key}} will be the default stream for {{cam.key}} on the multi camera display."
                                matTooltipClass="tooltip">
                    {{'Default On Multi Display'}}
                  </mat-checkbox>
                </td>
              </ng-container>
              <ng-container matColumnDef="motion">
                <th mat-header-cell *matHeaderCellDef>Motion Sensing</th>
                <td mat-cell *matCellDef="let stream; let streamIndex = index" [style.width.px]="95">
                  <mat-checkbox [color]="'primary'" [checked]="stream.value.motion.enabled"
                                [style.width.px]="95"
                                [disabled]="ftpSet(cam.value)"
                                (change)="setMotionStatus($event, stream.value,  cam.value)"
                                matTooltip="{{ftpSet(cam.value) ? 'To use internal motion sensing, you must uncheck FTP on the camera line' :
                                'If checked, motion detection and its consequent recording will be enabled on ' + stream.key + '. Only one stream from a camera can have motion detection enabled. Where a camera has more than one stream, the lower resolution stream is best used for motion detection to keep CPU usage down.'}}"
                                matTooltipClass="tooltip">
                    {{'Motion'}}
                  </mat-checkbox>
                </td>
              </ng-container>
              <ng-container matColumnDef="threshold">
                <th mat-header-cell *matHeaderCellDef>Motion Threshold</th>
                <td mat-cell *matCellDef="let stream; let streamIndex = index" [style.width.px]="100">
                  <mat-form-field appearance="legacy"  [style.width.px]="95">
                    <input matInput type="number" autocomplete="off" maxlength="10"
                           [formControl]="getStreamControl(camIndex, streamIndex, 'threshold')"
                           [disabled]="!stream.value.motion.enabled"
                           (input)="setThreshold($event, stream.value)"
                           matTooltip="Threshold for declaring motion. The threshold is the number of changed pixels counted after noise filtering, masking, despeckle, and labelling"
                           matTooltipClass="tooltip"
                           placeholder="Threshold">
                    <mat-error *ngIf="getStreamControl(camIndex, streamIndex, 'threshold').hasError('max')">
                      Should be a number between 1 and 2147483647
                    </mat-error>
                    <mat-error *ngIf="getStreamControl(camIndex, streamIndex, 'threshold').hasError('min')">
                      Should be a number between 1 and 2147483647
                    </mat-error>
                    <mat-error *ngIf="getStreamControl(camIndex, streamIndex, 'threshold').hasError('required')">
                      Threshold is required
                    </mat-error>
                  </mat-form-field>
                </td>
              </ng-container>
              <ng-container matColumnDef="trigger_recording_on">
                <th mat-header-cell *matHeaderCellDef>Trigger Recording On</th>
                <td mat-cell *matCellDef="let stream; let streamIndex = index">
                  <mat-form-field appearance="legacy" [style.width.px]="80">
                    <mat-select [formControl]="getStreamControl(camIndex, streamIndex, 'trigger_recording_on')"
                                (selectionChange)="setRecordingTrigger($event, stream.value)"
                                [disabled]="!stream.value.motion.enabled"
                                matTooltip="Select another stream on the camera to trigger a recording on when motion is detected on {{stream.key}}. Normally you would select the highest resolution stream on the camera."
                                matTooltipClass="tooltip">
                      <mat-option [value]="''">
                        None
                      </mat-option>
                      <mat-option
                        *ngFor="let camStream of cam.value.streams | mapToKeyValue | excludeOwnStream:stream.key"
                        [value]="cam.key+'.'+camStream.key">
                        {{camStream.key}}
                      </mat-option>
                    </mat-select>
                  </mat-form-field>
                </td>
              </ng-container>
              <ng-container matColumnDef="mask_file">
                <th mat-header-cell *matHeaderCellDef> Mask File</th>
                <td mat-cell *matCellDef="let stream; let streamIndex = index">
                  <mat-form-field appearance="legacy" [style.width.px]="220">
                    <input style="position: absolute"
                           hidden #fileInput type="file" accept=".pgm"
                           (change)="uploadMaskFile($event, cam.key, camIndex, streamIndex)"/>
                    <div class="file-upload">
                      <button type="button" mat-icon-button (click)="fileInput.click()"
                              [disabled]="!stream.value.motion.enabled"
                              matTooltip="Select a mask file to upload. This is a .pgm file where motion detection is disabled where the image is black, shades of grey attenuate motion detection sensitivity, and white areas allow full motion detection sensitivity."
                              matTooltipClass="tooltip">

                        <mat-icon>file_upload</mat-icon>
                      </button>
                      <input matInput type="text" readonly
                             [formControl]="getStreamControl(camIndex, streamIndex, 'mask_file')">
                      <button type="button" mat-icon-button
                              (click)="stream.value.motion.mask_file='';
                              getStreamControl(camIndex, streamIndex, 'mask_file').setValue('')"
                              [disabled]="!stream.value.motion.enabled"
                              matTooltip="Click to clear this field (no mask file)"
                              matTooltipClass="tooltip">
                        <mat-icon>close</mat-icon>
                      </button>
                    </div>
                    <mat-error *ngIf="getStreamControl(camIndex, streamIndex, 'mask_file')">Please select a valid .pgm
                      file, or clear.
                    </mat-error>
                  </mat-form-field>
                </td>
              </ng-container>
              <ng-container matColumnDef="video_width">
                <th mat-header-cell *matHeaderCellDef> Video Width</th>
                <td mat-cell *matCellDef="let stream; let streamIndex = index">
                  <mat-form-field appearance="legacy" [style.width.px]="80">
                    <input matInput type="number" autocomplete="off" maxlength="4"
                           [formControl]="getStreamControl(camIndex, streamIndex,'video_width')"
                           matTooltip="The width in pixels of the video on {{stream.key}}. This is required if motion detection is enabled on {{stream.key}}."
                           matTooltipClass="tooltip"
                           placeholder="Video Width" (blur)="updateStreamField(camIndex, streamIndex, 'video_width')">
                    <mat-error *ngIf="getStreamControl(camIndex, streamIndex,'video_width').invalid">Valid: 90-5000
                    </mat-error>
                  </mat-form-field>
                </td>
              </ng-container>
              <ng-container matColumnDef="video_height">
                <th mat-header-cell *matHeaderCellDef> Video Height</th>
                <td mat-cell *matCellDef="let stream; let streamIndex = index">
                  <mat-form-field appearance="legacy" [style.width.px]="80">
                    <input matInput type="number" autocomplete="off" maxlength="4"
                           [formControl]="getStreamControl(camIndex, streamIndex,'video_height')"
                           matTooltip="The height in pixels of the video on {{stream.key}}. This is required if motion detection is enabled on {{stream.key}}."
                           matTooltipClass="tooltip"
                           placeholder="Video Height"
                           (blur)="updateStreamField(camIndex, streamIndex, 'video_height')">
                    <mat-error *ngIf="getStreamControl(camIndex, streamIndex,'video_height').invalid">Valid: 90-3000
                    </mat-error>
                  </mat-form-field>
                </td>
              </ng-container>

              <!-- Streams table Footer with the control buttons -->
              <ng-container matColumnDef="buttons">
                <td mat-footer-cell *matFooterCellDef>
                  <button [disabled]="anyInvalid() || confirmSave || confirmNew || totalNumberOfStreams() >= 10"
                          mat-icon-button style
                          (click)="addStream(cam.value)"
                          matTooltip="Add another stream for {{cam.key}}."
                          matTooltipClass="tooltip">
                    <mat-icon>add</mat-icon>
                  </button>
                </td>
              </ng-container>

              <tr mat-header-row *matHeaderRowDef="streamColumns"></tr>
              <tr mat-row *matRowDef="let stream; columns: streamColumns"></tr>
              <tr mat-footer-row *matFooterRowDef="streamFooterColumns"></tr>
            </table>
          </div>
        </td>
      </ng-container>

      <!-- Cameras table Footer with the control buttons -->
      <ng-container matColumnDef="buttons">

        <td mat-footer-cell [attr.colspan]="cameraColumns.length" *matFooterCellDef>
          <ng-container *ngIf="!gettingCameraDetails">
            <button
              [disabled]="anyInvalid() || confirmSave || confirmNew || confirmNewLookup || totalNumberOfStreams() >= 10"
              mat-icon-button
              (click)="addCamera()"
              matTooltip="Add another camera, and enter the details manually."
              matTooltipClass="tooltip">
              <mat-icon>add</mat-icon>
            </button>
            <button
              [disabled]="anyInvalid() || confirmSave || confirmNew || confirmNewLookup || totalNumberOfStreams() >= 10"
              mat-icon-button
              (click)="toggleAddCameraOnvifUriDialogue()"
              matTooltip="Add another camera getting details through Onvif."
              matTooltipClass="tooltip">
              <mat-icon>add_circle</mat-icon>
            </button>
            <div class="add-onvif-url-dialogue">
              <div class="mat-elevation-z15" [@detailExpand]="showAddCameraDialogue ? 'expanded' : 'collapsed'">
                <div>
                </div>
                <app-add-as-onvif-device
                  (hideDialogue)="toggleAddCameraOnvifUriDialogue()"
                  [reporting]="errorReporting"
                  (startFindCameraDetails)="startFindCameraDetails($event)"
                  [cameras]="cameras"
                >
                </app-add-as-onvif-device>
              </div>
            </div>
            <button [disabled]="anyInvalid() || confirmSave" mat-icon-button (click)="confirmNew=true"
                    matTooltip="Start a new configuration"
                    matTooltipClass="tooltip"
                    *ngIf="!confirmNew && !confirmNewLookup">
              <mat-icon>note</mat-icon>
            </button>
            <button [disabled]="confirmSave || confirmNewLookup" mat-icon-button (click)="confirmNewLookup=true"
                    matTooltip="Perform onvif LAN search for cameras"
                    matTooltipClass="tooltip"
                    *ngIf="!confirmNewLookup && !confirmNewLookup">
              <mat-icon>explore</mat-icon>
            </button>
            <span matTooltip="{{isGuest ? 'Disabled for guest' : 'Commit the current configuration in this editor'}}"
                  matTooltipClass="tooltip">
            <button [disabled]="!dataHasChanged() || anyInvalid() || confirmNew || confirmNewLookup || isGuest" mat-icon-button
                    (click)="confirmSave=true"
                    *ngIf="!confirmSave && !confirmNewLookup">
              <mat-icon>save</mat-icon>
            </button>
          </span>

            <span class="confirm-group" *ngIf="confirmNew">
            <span>Start a new configuration, are you sure?</span>
            <button color="default" mat-flat-button (click)="confirmNew=false">
              Cancel
            </button>
            <button color="warning" mat-flat-button (click)="createNew();confirmNew=false;">
              New
            </button>
          </span>
            <span class="confirm-group" *ngIf="confirmNewLookup">
            <span>Start Onvif camera search, are you sure?</span>
            <button color="default" mat-flat-button (click)="confirmNewLookup=false">
              Cancel
            </button>
            <button color="warning" mat-flat-button (click)="startOnvifSearch();confirmNewLookup=false;">
              Search
            </button>
          </span>
            <span class="confirm-group" *ngIf="confirmSave">
            <span>Save this as the working configuration, are you sure?</span>
            <button color="default" mat-flat-button (click)="confirmSave=false">
              Cancel
            </button>
            <button color="warning" mat-flat-button [disabled]="isGuest" (click)="commitConfig();confirmSave=false;">
              Save
            </button>
          </span>
          </ng-container>
          <mat-card-content class="wait-box mat-form-field-flex" *ngIf="gettingCameraDetails">
            <mat-spinner [diameter]="25"></mat-spinner>
            <span>Getting camera details, Please wait..</span>
          </mat-card-content>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="cameraColumns"></tr>
      <tr mat-row *matRowDef="let cam; columns: cameraColumns;"
          class="element-row"
          [class.example-expanded-row]="expandedElement === cam.value">
      </tr>

      <tr mat-row *matRowDef="let e; columns: ['expandedStreamDetail']" class="detail-row">
      </tr>
      <tr mat-footer-row *matFooterRowDef="cameraFooterColumns"></tr>
    </table>
  </mat-card-content>
</mat-card>

<app-reporting #errorReporting></app-reporting>
