<!-- Copyright 2019 Google Inc. All Rights Reserved.
    Use of this source code is governed by an MIT-style license that
    can be found in the LICENSE file at http://angular.io/license -->

<mat-card>
  <mat-card-title>Cameras Configuration</mat-card-title>
  <mat-card-content class="wait-box mat-form-field-flex" *ngIf="downloading">
    <mat-spinner [diameter]="25"></mat-spinner>
    <span>Loading, Please wait..</span>
  </mat-card-content>
  <mat-card-content *ngIf="!downloading">
    <table mat-table
           [dataSource]="cameras | keyvalue" multiTemplateDataRows
           class="mat-elevation-z8">

      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef>Name.</th>
        <td mat-cell *matCellDef="let element; let i = dataIndex">
          <mat-form-field appearance="legacy">
            <input matInput type="text" [formControl]="getControl(i, 'name')"
                   placeholder="Camera Name" (blur)="updateField(i, 'name')">
            <mat-hint>Change camera name if required</mat-hint>
          </mat-form-field>
        </td>
      </ng-container>

      <ng-container matColumnDef="address">
        <th mat-header-cell *matHeaderCellDef>Control URI.</th>
        <td mat-cell *matCellDef="let element"> {{element.value.address}} </td>
      </ng-container>

      <ng-container matColumnDef="controlUri">
        <th mat-header-cell *matHeaderCellDef>Address.</th>
        <td mat-cell *matCellDef="let element"> {{element.value.controlUri}} </td>
      </ng-container>

      <!-- Expanded Streams Column - The streams row is made up of this one column that spans across all columns -->
      <ng-container matColumnDef="expandedStreamDetail">
        <td mat-cell *matCellDef="let element" [attr.colspan]="displayedColumns.length">
          <div class="example-element-detail mat-elevation-z10"
               [@detailExpand]="element.value == expandedElement ? 'expanded' : 'collapsed'">
            <table mat-table [dataSource]="element.value.streams | keyvalue" class="streams-info mat-elevation-z10">
              <ng-container matColumnDef="descr">
                <th mat-header-cell *matHeaderCellDef> Descr.</th>
                <td mat-cell *matCellDef="let stream"> {{stream.value.descr}} </td>
              </ng-container>
              <ng-container matColumnDef="netcam_uri">
                <th mat-header-cell *matHeaderCellDef> Netcam URI.</th>
                <td mat-cell *matCellDef="let stream"> {{stream.value.netcam_uri}} </td>
              </ng-container>
              <ng-container matColumnDef="uri">
                <th mat-header-cell *matHeaderCellDef> URI.</th>
                <td mat-cell *matCellDef="let stream"> {{stream.value.uri}} </td>
              </ng-container>
              <ng-container matColumnDef="nms_uri">
                <th mat-header-cell *matHeaderCellDef> NMS URI.</th>
                <td mat-cell *matCellDef="let stream"> {{stream.value.nms_uri}} </td>
              </ng-container>
              <ng-container matColumnDef="video_width">
                <th mat-header-cell *matHeaderCellDef> Video Width</th>
                <td mat-cell *matCellDef="let stream"> {{stream.value.video_width}} </td>
              </ng-container>
              <ng-container matColumnDef="video_height">
                <th mat-header-cell *matHeaderCellDef> Video Height</th>
                <td mat-cell *matCellDef="let stream"> {{stream.value.video_height}} </td>
              </ng-container>
              <tr mat-header-row *matHeaderRowDef="streamColumns"></tr>
              <tr mat-row *matRowDef="let stream; columns: streamColumns" (click)="toggle(element)"></tr>
            </table>
          </div>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let element; columns: displayedColumns;"
          class="example-element-row"
          [class.example-expanded-row]="expandedElement === element.value"
          (click)="expandedElement = expandedElement === element.value ? null : element.value">
      </tr>

      <tr mat-row *matRowDef="let e; columns: ['expandedStreamDetail']" class="example-detail-row">
      </tr>
    </table>
  </mat-card-content>
</mat-card>

<app-reporting #errorReporting></app-reporting>
