<div class="sec-cam-navbar">
  <a mat-icon-button href="#">
    <mat-icon>videocam</mat-icon>
  </a>

  <div>
    <div *ngIf="!noTemperature" [ngClass]="tempAlertClass">Core Temp: {{temperature}} °C</div>
  </div>

  <button mat-button class="navbar-toggler" type="button" (click)="toggleMenu()"
          aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <mat-icon>menu</mat-icon>
  </button>

  <div #navbarCollapse class="collapse" id="navbarSupportedContent">
    <div>
      <button mat-button [matMenuTriggerFor]="menuSelectCamera" id="cameraDropdown">
        Select Camera
      </button>
      <mat-menu #menuSelectCamera="matMenu">
        <ng-container *ngFor="let cs of cameraStreams">
          <button mat-menu-item (click)="setVideoStream(cs);menuClosed()">
            {{cs.camera.name + " (" + cs.stream.descr + ")"}}
          </button>
        </ng-container>
        <button mat-menu-item (click)="multiCamView();menuClosed()">Multi Camera View</button>
      </mat-menu>
    </div>

    <div>
      <button mat-button [matMenuTriggerFor]="menuSelectRecording">Select Recording</button>
      <mat-menu #menuSelectRecording="matMenu">
        <ng-container *ngFor="let cs of cameraStreams">
          <button mat-menu-item (click)="showRecording(cs);menuClosed()" *ngIf="cs.stream.recording.enabled">
            {{cs.camera.name + " (" + cs.stream.descr + ")"}}
          </button>
        </ng-container>
      </mat-menu>
    </div>

    <div>
      <button mat-button [matMenuTriggerFor]="cameraSettings">Camera Settings</button>
      <mat-menu #cameraSettings="matMenu">
        <button mat-menu-item [matMenuTriggerFor]="menuCameraSettings">Quick Camera Setup</button>
        <button mat-menu-item [matMenuTriggerFor]="menuCameraAdmin">Camera Admin</button>
      </mat-menu>
      <mat-menu #menuCameraSettings="matMenu">
        <ng-container *ngFor="let cam of cameras">
          <button *ngIf="cam.address!=''&&cam.cameraParamSpecs.camType !== cameraTypes.none" mat-menu-item
                  (click)="cameraControl(cam);menuClosed()">
            {{cam.name}}
          </button>
        </ng-container>
      </mat-menu>
      <mat-menu #menuCameraAdmin="matMenu">
        <ng-container *ngFor="let cam of cameras">
          <span matTooltip="Disabled for guest" matTooltipClass="tooltip" [matTooltipDisabled]="!isGuest">
            <button *ngIf="cam.address!=''" mat-menu-item
                    [disabled]="isGuest"
                    (click)="cameraAdmin(cam);menuClosed()">
              {{cam.name}}
            </button>
          </span>
        </ng-container>
      </mat-menu>

    </div>

    <div>
      <button mat-button [matMenuTriggerFor]="menuGeneral">General</button>
      <mat-menu #menuGeneral="matMenu">
        <button mat-menu-item (click)="configSetup();menuClosed()">Configure Camera Setup</button>
        <button mat-menu-item (click)="confirmLogoff();menuClosed()">Log Off</button>
        <span matTooltip="Disabled for guest" matTooltipClass="tooltip" [matTooltipDisabled]="!isGuest">
          <button mat-menu-item [disabled]="isGuest" (click)="changePassword();menuClosed()">Change Password</button>
        </span>
        <span matTooltip="Disabled for guest" matTooltipClass="tooltip" [matTooltipDisabled]="!isGuest">
          <button mat-menu-item [disabled]="isGuest" (click)="changeEmail(); menuClosed()">Change Account Email</button>
        </span>
        <span matTooltip="Disabled for guest" matTooltipClass="tooltip" [matTooltipDisabled]="!isGuest">
          <button mat-menu-item *ngIf="!isGuest"
                  (click)="setUpGuestAccount(); menuClosed()">Set Up Guest Account
          </button>
        </span>
        <div class="dropdown-divider"></div>
        <span matTooltip="Disabled for guest" matTooltipClass="tooltip" [matTooltipDisabled]="!isGuest">
          <button mat-menu-item [disabled]="isGuest" (click)="setIp();menuClosed()">Save Current Public IP</button>
        </span>
        <span matTooltip="Disabled for guest" matTooltipClass="tooltip" [matTooltipDisabled]="!isGuest">
          <button mat-menu-item [disabled]="isGuest" (click)="getActiveIPAddresses(); menuClosed()">
            Get Active Local IP Address(es)
          </button>
        </span>
        <span matTooltip="Disabled for guest" matTooltipClass="tooltip" [matTooltipDisabled]="!isGuest">
          <button mat-menu-item [matMenuTriggerFor]="wifiAdmin">Wifi Admin</button>
        </span>
        <mat-menu #wifiAdmin="matMenu">
          <button mat-menu-item [disabled]="isGuest" (click)="getLocalWifiDetails(); menuClosed()">
            Local Wifi Details
          </button>
          <button mat-menu-item [disabled]="isGuest" (click)="wifiSettings(); menuClosed()">
            Wifi Settings
          </button>
        </mat-menu>
        <button mat-menu-item (click)="cloudProxy();menuClosed()">Set CloudProxy Status</button>
        <button mat-menu-item (click)="drawdownCalc();menuClosed()">Pension Drawdown Calculator</button>
        <div class="dropdown-divider"></div>
        <button mat-menu-item (click)="about();menuClosed()">About Security Cam</button>
      </mat-menu>
    </div>
  </div>
</div>
<mat-card class="mat-elevation-z8 confirm-logout alert-warning" *ngIf="confirmLogout">
  <mat-card-subtitle style="color: inherit">
    Logout from Security Cam, Are you sure?
  </mat-card-subtitle>
  <mat-card-content>
    <button mat-flat-button color="warning" (click)="logOff(true)">Confirm</button>
    <button mat-flat-button color="default" (click)="logOff(false)">Cancel</button>
  </mat-card-content>
</mat-card>
<router-outlet></router-outlet>
<app-reporting></app-reporting>
