mat-card.confirm-logout {
  margin-top: 1rem;
  width: 17rem;
  padding: 1rem;
  margin-left: auto;
  margin-right: auto;

  > mat-card-content {
    margin-top: 0.5rem;

    > button:nth-child(2) {
      float: right;
    }
  }
}


div.general {
  margin-left: auto;
}

.sec-cam-navbar {
  width: 100%;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  background-color: #e5e1e1;
  position: relative;
  // Home icon (videocam)
  > a {
    transform: scale(1.4);
    top: 10px;
    height: 40px;
    width: 40px;
    color: #2d2d2d;
  }

  > div {
    > div {
      > button {
        color: #2d2d2d;
      }
    }
  }

  // Temperature indicator
  > div:nth-child(2) {
    display: inline-block;

    > div {
      margin-left: -0.125rem;
      transform: scale(0.75);
      width: fit-content;
      padding: 0.25rem;
      border: black solid 0.1rem;
      border-radius: 1rem;
    }
  }

  // Navbar collapse button
  > button:nth-child(3) {
    @media handheld and (min-device-width: 1001px), screen and (min-width: 1001px) {
      display: none;
    }
   // display: inline;
    margin-top: 10px;
    float: right;
  }

  // The menus
  > div:nth-child(4) {
    @media handheld and (min-device-width: 1001px), screen and (min-width: 1001px) {
      display: inline;
      > div {
        display: inline;
      }
      :nth-child(4) {
        margin-top: 10px;
        float: right;
      }
    }
  }
}

.collapse {
  @media handheld and (max-device-width: 1000px), screen and (max-width: 1000px) {
    max-height: 0;
    overflow-y: hidden;
    transition: max-height 1s ease-out;
  }
  width: 100%;
  margin-right: 1rem;
}

.navbar-toggler {
  order: 10;

  > mat-icon {
    color: black;
  }
}

div.no-transport-warning {
  margin-top: 1rem;
  width: 100%;

  > div {
    border-radius: 2.0rem;
    margin: auto;
    width: fit-content;
    padding: 1rem;
    background-color: black;

    > mat-card-title {
      animation: pulsing 1300ms infinite;
      background-color: transparent
    }
  }

  @keyframes pulsing {
    0% {
      color: red;
    }
    50% {
      color: #ef8484;
    }
    100% {
      color: red;
    }
  }

}
