<div class="sec-cam-navbar">
  <a mat-icon-button href="#">
    <mat-icon>videocam</mat-icon>
  </a>

  <div>
    @if (!noTemperature) {
      <div [ngClass]="tempAlertClass">Core Temp: {{ temperature }} °C</div>
    }
  </div>

  <button mat-button class="navbar-toggler" type="button" (click)="toggleMenu()"
          aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <mat-icon>menu</mat-icon>
  </button>

  <div #navbarCollapse class="collapse" id="navbarSupportedContent">
    <div>
      <button mat-button [matMenuTriggerFor]="$any(menuSelectCamera)" id="cameraDropdown">
        Select Camera
      </button>
      <mat-menu #menuSelectCamera>
        @for (camKV of cameras | keyvalue: cameraSvc.compareFn; track camKV) {
          @for (streamKV of camKV.value.streams | keyvalue: cameraSvc.compareFn; track streamKV) {
            <button mat-menu-item (click)="setVideoStream(camKV.value, streamKV.value);menuClosed()">
              {{ camKV.value.name + " (" + streamKV.value.descr + ")" }}
            </button>
          }
        }
        <button mat-menu-item (click)="multiCamView();menuClosed()">Multi Camera View</button>
      </mat-menu>
    </div>

    <div>
      <button mat-button [matMenuTriggerFor]="$any(menuSelectRecording)">Select Recording</button>
      <mat-menu #menuSelectRecording>
        @for (camKV of cameras | keyvalue: cameraSvc.compareFn; track camKV) {
          @for (streamKV of camKV.value.streams | keyvalue: cameraSvc.compareFn; track streamKV) {
            @if (streamKV.value.recording.enabled) {
              <button mat-menu-item (click)="showRecording(camKV.value, streamKV.value);menuClosed()">
                {{ camKV.value.name + " (" + streamKV.value.descr + ")" }}
              </button>
            }
          }
        }
      </mat-menu>
    </div>

    <div>
      <button mat-button [matMenuTriggerFor]="$any(cameraSettings)">Camera Settings</button>
      <mat-menu #cameraSettings>
        <button mat-menu-item [matMenuTriggerFor]="$any(menuCameraSettings)">Quick Camera Setup</button>
        <button mat-menu-item [matMenuTriggerFor]="$any(menuCameraAdmin)">Camera Admin</button>
        @if (enableAdHocDeviceHosting && utilsService.adHocDevices && utilsService.adHocDevices.length > 0) {
          <button mat-menu-item [matMenuTriggerFor]="$any(menuAdHocDevices)">Ad Hoc Device Admin</button>
        }
      </mat-menu>
      <mat-menu #menuCameraSettings>
        @for (camKV of cameras | keyvalue: cameraSvc.compareFn; track camKV) {
          @if (camKV.value.address != '' && camKV.value.cameraParamSpecs.camType !== cameraTypes.none) {
            <button mat-menu-item
                    (click)="cameraControl(camKV.value);menuClosed()">
              {{ camKV.value.name }}
            </button>
          }
        }
      </mat-menu>
      <mat-menu #menuCameraAdmin>
        @for (camKV of cameras | keyvalue: cameraSvc.compareFn; track camKV) {
          <span matTooltip="Disabled for guest" matTooltipClass="tooltip" [matTooltipDisabled]="!isGuest">
            @if (camKV.value.address != '') {
              <button mat-menu-item
                      [disabled]="isGuest"
                      (click)="cameraAdmin(camKV.value);menuClosed()">
                {{ camKV.value.name }}
              </button>
            }
          </span>
        }
      </mat-menu>
      <mat-menu #menuAdHocDevices>
        @for (device of utilsService.adHocDevices; track device) {
          <button mat-menu-item
                  [disabled]="isGuest"
                  (click)="adHocDeviceAdmin(device);menuClosed()">
            {{ device.name }}
          </button>
        }
      </mat-menu>
    </div>

    <div>
      <button mat-button [matMenuTriggerFor]="$any(menuGeneral)">General</button>
      <mat-menu #menuGeneral>
        <button mat-menu-item (click)="configSetup();menuClosed()"
                matTooltip="Discover and configure the cameras for live view, recording, audio back channel and various other features."
                matTooltipClass="tooltip">
          Configuration
        </button>
        <button mat-menu-item (click)="confirmLogoff();menuClosed()">Log Off</button>
        @if (enableAdHocDeviceHosting) {
          <button mat-menu-item
                  matTooltip="Maintain a list of web admin sites on the local network (intranet) to make available through the NVR on the general internet."
                  matTooltipClass="tooltip"
                  (click)="adHocHostingConfiguration()">Ad Hoc Hosting
          </button>
        }
        <div mat-menu-item
             matTooltip="Enable or disable H264 hardware decoding. In some cases hardware decoding adds latency on H264, in other cases hardware decoding is required to decode it at all. Set this for the best performance on the platform/browser you are using."
             matTooltipClass="tooltip"
             (click)="$event.stopPropagation(); hardwareDecodingCheckBox.toggle()"
             (keydown.enter)="$event.stopPropagation(); hardwareDecodingCheckBox.toggle()">
          <mat-checkbox class="mat-menu__checkbox"
                        labelPosition="before"
                        (click)="hardwareDecoding(hardwareDecodingCheckBox.checked);$event.stopPropagation()"
                        #hardwareDecodingCheckBox>
            H264 Hardware Decoding
          </mat-checkbox>
        </div>
        <span matTooltip="Disabled for guest" matTooltipClass="tooltip" [matTooltipDisabled]="!isGuest">
          <button mat-menu-item [disabled]="isGuest" (click)="changePassword();menuClosed()">Change Password</button>
        </span>
        <span matTooltip="Disabled for guest" matTooltipClass="tooltip" [matTooltipDisabled]="!isGuest">
          <button mat-menu-item [disabled]="isGuest" (click)="changeEmail(); menuClosed()">Change Account Email</button>
        </span>
        <span matTooltip="Disabled for guest" matTooltipClass="tooltip" [matTooltipDisabled]="!isGuest">
          @if (!isGuest) {
            <button mat-menu-item
                    (click)="setUpGuestAccount(); menuClosed()">Set Up Guest Account
            </button>
          }
        </span>
        <div class="dropdown-divider"></div>
        <span matTooltip="Disabled for guest" matTooltipClass="tooltip" [matTooltipDisabled]="!isGuest">
          <button mat-menu-item [disabled]="isGuest" (click)="setIp();menuClosed()">Save Current Public IP</button>
        </span>
        <span matTooltip="Disabled for guest" matTooltipClass="tooltip" [matTooltipDisabled]="!isGuest">
          <button mat-menu-item [disabled]="isGuest" (click)="getActiveIPAddresses(); menuClosed()">
            Get Active Local IP Address(es)
          </button>
        </span>
        <button mat-menu-item [matMenuTriggerFor]="$any(wifiAdmin)">Wifi Admin</button>
        <mat-menu #wifiAdmin>
          <span matTooltip="Disabled for guest" matTooltipClass="tooltip" [matTooltipDisabled]="!isGuest">
            <button mat-menu-item [disabled]="isGuest" (click)="getLocalWifiDetails(); menuClosed()">
              Local Wifi Details
            </button>
          </span>
          <span matTooltip="Disabled for guest" matTooltipClass="tooltip" [matTooltipDisabled]="!isGuest">
            <button mat-menu-item [disabled]="isGuest" (click)="wifiSettings(); menuClosed()">
              Wifi Settings
            </button>
          </span>
        </mat-menu>
        <span matTooltip="Disabled for guest" matTooltipClass="tooltip" [matTooltipDisabled]="!isGuest">
          <button mat-menu-item [disabled]="isGuest" (click)="cloudProxy();menuClosed()">Set CloudProxy Status</button>
        </span>
        <span matTooltip="Disabled for guest" matTooltipClass="tooltip" [matTooltipDisabled]="!isGuest">
          <button mat-menu-item [disabled]="isGuest" (click)="admin();menuClosed()">Admin Functions</button>
        </span>
        <button mat-menu-item (click)="drawdownCalc();menuClosed()">Pension Drawdown Calculator</button>
        <div class="dropdown-divider"></div>
        <button mat-menu-item (click)="about();menuClosed()">About Security Cam</button>
      </mat-menu>
    </div>
  </div>
</div>
@if (confirmLogout) {
  <mat-card class="mat-elevation-z8 confirm-logout">
    <mat-card-subtitle>
      Logout from Security Cam, Are you sure?
    </mat-card-subtitle>
    <mat-card-content>
      <button mat-raised-button color="warn" (click)="logOff(true)">Confirm</button>
      <button mat-raised-button color="cancel" (click)="logOff(false)">Cancel</button>
    </mat-card-content>
  </mat-card>
}
@if (utilsService.cloudProxyRunning && !utilsService.activeMQTransportActive) {
  <div class="no-transport-warning">
    <div>
      <mat-card-title>Not Connected To Transport</mat-card-title>
    </div>
  </div>
}
<router-outlet></router-outlet>
<app-reporting></app-reporting>
