<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a mat-icon-button class="navbar-brand" href="#">
    <fa-icon [icon]="faCamera">"></fa-icon>
  </a>
  <div *ngIf="!noTemperature" [ngClass]="tempAlertClass" class="mx-auto temp">Core Temp: {{temperature}} °C</div>

  <button mat-button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item dropdown">
        <button mat-button [matMenuTriggerFor]="menuSelectCamera" id="cameraDropdown">
          Select Camera
        </button>
        <mat-menu #menuSelectCamera="matMenu">
          <ng-container *ngFor="let camera of cameras">
            <button mat-menu-item (click)="setVideoStream(camera)">
              {{camera.name + " (" + camera.descr + ")"}}
            </button>
          </ng-container>
          <button mat-menu-item (click)="multiCamView()">Multi Camera View</button>
        </mat-menu>
      </li>

      <li>
        <button mat-button [matMenuTriggerFor]="menuSelectRecording">Select Recording</button>
        <mat-menu #menuSelectRecording="matMenu">
          <ng-container *ngFor="let camera of cameras">
            <button mat-menu-item (click)="showRecording(camera)">
              {{camera.name + " (" + camera.descr + ")"}}
            </button>
          </ng-container>
        </mat-menu>
      </li>

      <li>
        <button mat-button [matMenuTriggerFor]="menuCameraSettings">Camera Settings</button>
        <mat-menu #menuCameraSettings="matMenu">
          <ng-container *ngFor="let camera of cameras">
            <button *ngIf="camera.address!=undefined&&camera.controlUri!=undefined" mat-menu-item
                    (click)="cameraControl(camera)">
              {{camera.name}}
            </button>
          </ng-container>
        </mat-menu>
      </li>
    </ul>

    <!--    <div *ngIf="!noTemperature" [ngClass]="tempAlertClass" class="mx-auto temp">Core Temp: {{temperature}} °C</div>-->

    <button mat-button [matMenuTriggerFor]="menuGeneral">General</button>
    <mat-menu #menuGeneral="matMenu">
      <button mat-menu-item (click)="confirmLogoff()">Log Off</button>
      <button mat-menu-item (click)="changePassword()">Change Password</button>
      <div class="dropdown-divider"></div>
      <button mat-menu-item (click)="setIp()">Save Current Public IP</button>
      <button mat-menu-item (click)="drawdownCalc()">Pension Drawdown Calculator</button>
      <div class="dropdown-divider"></div>
      <button mat-menu-item (click)="about()">About Security Cam</button>
    </mat-menu>
  </div>
</nav>
<div class="confirm-logout alert-warning mx-auto" *ngIf="confirmLogout">
  <div>
    Logout from Security Cam, Are you sure?
  </div>
  <div>
    <button mat-button class="btn btn-sm btn-warning" (click)="logOff(true)">Confirm</button>
    <button mat-button class="btn btn-sm btn-secondary" (click)="logOff(false)">Cancel</button>
  </div>
</div>


<app-reporting></app-reporting>
