div {
  width: 100%;
  > mat-card {
    max-width: 700px;
    margin-left: auto;
    margin-right: auto;
  }
}

@mixin left-cursor {
  > div {
    position: absolute;
    left: -9px;
    top: 40px;
    width: 0;
    height: 0;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    border-right: 10px solid #646363;
    z-index: 3;
  }
  z-index: 2;
  left: 5px;
  top: -50px;
  overflow: visible;
  position: absolute;
}

div.popup-dialogue {
  display: inline;
  position: relative;
  > div {
    width: 20rem;
    @include left-cursor;
  }
}

.mdc-data-table__cell {
  overflow: visible !important;
}

mat-error {
  left: 0.10rem;
  position: absolute;
  width: 24rem;
}

.enter-animation {
  opacity: 0;
  animation: fade-in 0.5s;
}

.leaving-animation  {
  opacity: 1;
  animation: fade-out 0.5s;
}


@keyframes fade-in {
  to {
    opacity: 1;
  }
}

@keyframes fade-out {
  to {
    opacity: 0;
  }
}
