.wifi-settings-container
{
  margin-top: 1rem;
  font-size: 16px;
  display: inline-flex;
  width: 100%;
  >mat-card
  {
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
    > mat-card-content {
      >div {
        width: 20rem;
      }
    }
  }
}

div.button-container{
  margin-top: 0.8rem;
  > button {
    margin-right: 0.5rem;
  }
}

div.reset-connection-button {
  margin-top: 2rem;
  margin-bottom: 1rem;
}

mat-form-field.password-field
{
    margin-bottom: 2rem;
}

span.connecting-spinner {
  position: relative;;
  top: 0.5rem;
  display: flex;
  > mat-spinner {
    margin-right: 0.5rem;
    margin-left: 0.5rem;
  }
}

div.loading-spinner {
  display: flex;
  > mat-spinner {
    margin-right: 0.5rem;
    margin-left: 0.5rem;
  }
}

div.connect-cancel {
  display: flex;
  > button:first-child {
    margin-right: 0.5rem;
  }
}
