<div class="change-password-container">
  <mat-card class="mat-elevation-z8" xmlns="http://www.w3.org/1999/html">
    <mat-card-title>Change Password</mat-card-title>
    <mat-card-content>
      <form (ngSubmit)="$event.preventDefault(); formSubmitted()" [formGroup]="changePasswordForm">
        <div>
          <mat-form-field appearance="outline" [style.width.px]="300">
            <mat-label>Current Password</mat-label>
            <input matInput type="password" formControlName="oldPassword" #oldPassword
              placeholder="Enter current password"
              matTooltip="Enter the current password"
              matTooltipClass="tooltip">
            @if (hasError('oldPassword', 'required')) {
              <mat-error>Current password is required</mat-error>
            }
            @if (hasError('oldPassword', 'pattern')) {
              <mat-error>Password incorrect</mat-error>
            }
            <mat-hint>Enter current password</mat-hint>
          </mat-form-field>
        </div>
        <div>
          <mat-form-field appearance="outline" [style.width.px]="300">
            <input matInput type="password" formControlName="newPassword" [maxLength]="64"
              placeholder="New password"
              matTooltip="Enter the new password, this must be between 8 and 32 characters in length and can contain alpha, numeric and special characters"
              matTooltipClass="tooltip">
            <mat-label>New Password</mat-label>
            @if (hasError('newPassword', 'required')) {
              <mat-error>New password is required</mat-error>
            }
            @if (hasError('newPassword', 'pattern') && !hasError('newPassword', 'required')) {
              <mat-error>New password > 7 letters, numbers and special chars                       </mat-error>
            }
            <mat-hint>Enter new password</mat-hint>
          </mat-form-field>
        </div>
        <div>
          <mat-form-field appearance="outline" [style.width.px]="300">
            <mat-label>Confirm new password</mat-label>
            <input matInput type="password" formControlName="confirmNewPassword" #confirmNewPassword
              placeholder="Confirm new password"
              matTooltip="Enter the new password again"
              matTooltipClass="tooltip">
            @if (hasError('confirmNewPassword', 'required')) {
              <mat-error>Confirm new password is required</mat-error>
            }
            @if (hasError('confirmNewPassword', 'confirmNewPassword')) {
              <mat-error>Confirmed new password and New password differ
              </mat-error>
            }
            <mat-hint>Enter new password again</mat-hint>
          </mat-form-field>
        </div>
        <div class="button-container">
          <button mat-raised-button [disabled]="changePasswordButtonDisabled()" color="warn">Change Password</button>
        </div>
      </form>
    </mat-card-content>
  </mat-card>
</div>
<app-reporting></app-reporting>

