<div class="change-password-container">
  <mat-card class="mat-elevation-z8" xmlns="http://www.w3.org/1999/html">
    <mat-card-title>Change Password</mat-card-title>
    <mat-card-content>
      <form (ngSubmit)="$event.preventDefault(); formSubmitted()" [formGroup]="changePasswordForm">
        <div>
          <mat-form-field appearance="standard">
            <mat-label>Current Password</mat-label>
            <input matInput type="password" formControlName="oldPassword" #oldPassword
                   placeholder="Enter current password">
            <mat-error *ngIf="hasError('oldPassword', 'required')">Old password is required</mat-error>
            <mat-error *ngIf="hasError('oldPassword', 'pattern')">Password incorrect</mat-error>
            <mat-hint>Enter current password</mat-hint>
          </mat-form-field>
        </div>
        <div>
          <mat-form-field appearance="standard">
            <mat-label>New Password</mat-label>
            <input matInput type="password" formControlName="newPassword" #newPassword
                   placeholder="New password">
            <mat-error *ngIf="hasError('newPassword', 'required')">New password is required</mat-error>
            <mat-error *ngIf="hasError('newPassword', 'pattern')">New password has invalid characters or is greater than 64
              characters in length
            </mat-error>
            <mat-hint>Enter new password</mat-hint>
          </mat-form-field>
        </div>
        <div>
          <mat-form-field appearance="standard">
            <mat-label>Confirm new password</mat-label>
            <input matInput type="password" formControlName="confirmNewPassword" #confirmNewPassword
                   placeholder="Confirm new password">
            <mat-error *ngIf="hasError('confirmNewPassword', 'required')">Confirm new password is required</mat-error>
            <mat-error *ngIf="hasError('confirmNewPassword', 'confirmNewPassword')">Confirmed new password and New password differ
            </mat-error>
            <mat-hint>Enter new password again</mat-hint>
          </mat-form-field>
        </div>
        <div class="button-container">
          <button mat-raised-button [disabled]="changePasswordButtonDisabled()" color="warn">Change Password</button>
        </div>
      </form>
    </mat-card-content>
  </mat-card>
</div>
<app-reporting></app-reporting>
