<app-reporting></app-reporting>

<div class="about-box-container">
  <mat-card class="mat-elevation-z8" xmlns="http://www.w3.org/1999/html">
    <mat-card-title>About Security Cam</mat-card-title>
    <mat-card-content>
       <div>Version: {{version}}</div>
      <hr>
      <img src="{{getOnvifUrl()}}" width="=100" height="50" alt="Onvif logo" >
      <hr>
      <h2>Built with open source software</h2>
      <div [innerHTML]="openSourceInfo">
      </div>
    </mat-card-content>
  </mat-card>
</div>




