.about-box-container
{
  margin-top: 1rem;
  display: inline-flex;
  width: 100%;
  >mat-card
  {
    background-color: white;
    color: black;
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
  }
}
