Package: security-cam
Version: 2.0.1
Architecture: arm64
Maintainer: Richard Austin <richard.david.austin@gmail.com>
Description: A security camera system accessed through a secure web based interface.
Depends: openjdk-11-jre-headless (>=11.0.11), openjdk-11-jre-headless (<< 12.0.0),
 nginx (>=1.18.0), nginx(<=1.18.99), libnginx-mod-rtmp(>=1.18.0), libnginx-mod-rtmp(<=1.18.99)
