<mat-card class="mat-elevation-z8 recording-setup" xmlns="http://www.w3.org/1999/html">
    <mat-card-title>Set Up Recording</mat-card-title>
    <mat-card-content>
        <ng-container [formGroup]="formGroup">
            <mat-form-field appearance="outline" [style.width.px]="225"
                            matTooltip="Select recording type: None for no recording, Motion Service to use the motion service to detect motion on a specified stream, FTP Triggered to trigger recordings when the camera sends an image to the NVR by FTP, and Pullpoint Event Triggered to trigger recordings from a specified pullpoint topic ion the camera."
                            matTooltipClass="tooltip">
                <mat-label>Recording Type</mat-label>
                <mat-select formControlName="recordingType" (selectionChange)="setRecordingType($event)">
                    <mat-option value="none">None</mat-option>
                    <mat-option value="motion">Motion Service</mat-option>
                    <mat-option value="ftp">FTP Triggered</mat-option>
                    <mat-option value="pullpoint">Pullpoint Event Triggered</mat-option>
                </mat-select>
            </mat-form-field>

            @if (localCamera.recordingType === 'ftp') {
                <div>
                    <mat-form-field [style.width.px]="185" appearance="outline"
                                    matTooltip="Select the stream to record from. This would normally be the higher resolution stream,"
                                    matTooltipClass="tooltip">
                        <mat-label>Stream To Record From</mat-label>
                        <mat-select (selectionChange)="setSelectedStream($event)"
                                    formControlName="ftpStreamSelect">
                            <mat-option [value]="'none'">none</mat-option>
                            @for(stream of camera?.streams | keyvalue: cameraSvc.compareFn; track stream) {
                                <mat-option [value]="stream.key">
                                    {{stream.key }}
                                </mat-option>
                            }
                        </mat-select>
                    </mat-form-field>
                </div>

                <div>
                    <mat-form-field [style.width.px]="158" appearance="outline"
                                    matTooltip="Select the maximum time in seconds that can elapse between FTP uploads from the camere for the recording to be extended further by this selected time. The absence of another FTP within this window will result in the recording being completed."
                                    matTooltipClass="tooltip">
                        <mat-label>Retrigger Window</mat-label>
                        <mat-select (selectionChange)="setRetriggerWindow($event)"
                                    formControlName="retriggerWindow">
                            @for (win of cameraSvc.ftpRetriggerWindows; track win.value) {
                                <mat-option [value]="win.value">
                                    {{ win.name }}
                                </mat-option>
                            }
                        </mat-select>
                    </mat-form-field>
                </div>
            } @else if (localCamera.recordingType === 'motion') {
                <div>
                    <mat-form-field [style.width.px]="225" appearance="outline"
                                    matTooltip="Select the stream to monitor for motion. This would normally be the lower resolution stream,"
                                    matTooltipClass="tooltip">
                        <mat-label>Stream To Monitor For Motion</mat-label>
                        <mat-select (selectionChange)="setSelectedStream($event)"
                                    formControlName="ftpStreamSelect">
                            <mat-option [value]="'none'">none</mat-option>
                            @for(stream of camera?.streams | keyvalue; track stream) {
                                <mat-option [value]="stream.key">
                                    {{stream.key }}
                                </mat-option>
                            }
                        </mat-select>
                    </mat-form-field>
                </div>
            }
        </ng-container>
        <br>
        <span class="recording-setup-confirm-group">
      <button color="cancel" mat-raised-button (click)="cancel()"
              matTooltip="Close this dialogue and undo any changes"
              matTooltipClass="tooltip">
        Cancel
      </button>
      <button color="warn" mat-raised-button
              [disabled]="anyInvalid()"
              (click)="confirmChanges()"
              matTooltip="Confirm changes and make ready for saving"
              matTooltipClass="tooltip">
        Confirm
      </button>
    </span>
    </mat-card-content>
</mat-card>
