<mat-card class="mat-elevation-z8 recording-setup" xmlns="http://www.w3.org/1999/html">
    <mat-card-title>Set Up Recording</mat-card-title>
    <mat-card-content>
        <ng-container [formGroup]="formGroup">
            <mat-form-field appearance="outline" [style.width.px]="225"
                            matTooltip="Select recording type: None for no recording, Motion Service to use the motion service to detect motion on a specified stream, FTP Triggered to trigger recordings when the localCamera sends an image to the NVR by FTP, and Pullpoint Event Triggered to trigger recordings from a specified pullpoint topic ion the camera."
                            matTooltipClass="tooltip">
                <mat-label>Recording Type</mat-label>
                <mat-select formControlName="recordingType" (selectionChange)="setRecordingType($event)">
                    <mat-option [value]="RecordingType.none">None</mat-option>
                    <mat-option [value]="RecordingType.motionService">Motion Service</mat-option>
                    <mat-option [value]="RecordingType.ftpTriggered">FTP Triggered</mat-option>
                    @if (localCamera.pullPointEvents.length > 0) {
                        <mat-option [value]="RecordingType.pullPointEventTriggered">Pull Point Event Triggered</mat-option>
                    }
                </mat-select>
            </mat-form-field>
            @switch (localCamera.recordingType) {
                @case (RecordingType.ftpTriggered) {
                    <div>
                        <mat-form-field [style.width.px]="185" appearance="outline"
                                        matTooltip="Select the stream to record from. This would normally be the higher resolution stream. If a stream is selected, images sent by FTP from {{camKey}}, on motion being detected will trigger the NVR to make a recording on the selected stream of that camera. These recordings will be available on the Select Recording menu. The camera should be set to FTP a .jpg (jpeg) image to folder {{camKey}} on port 2121 on the NVRs IP address. See Camera Recordings Service section of the README.md"
                                        matTooltipClass="tooltip">
                            <mat-label>Stream To Record From</mat-label>
                            <mat-select (selectionChange)="setSelectedStream($event)"
                                        formControlName="recordingStreamSelect">
                                <mat-option [value]="'none'">none</mat-option>
                                @for (stream of localCamera.streams | keyvalue: cameraSvc.compareFn; track stream) {
                                    <mat-option [value]="stream.key">
                                        {{ stream.key }}
                                    </mat-option>
                                }
                            </mat-select>
                            <mat-error>Invalid value</mat-error>
                        </mat-form-field>
                    </div>
                    <mat-form-field [style.width.px]="150" appearance="outline"
                                    matTooltip="The number of frames to delay the video stream by when recording. The value selected will give a preamble to recordings (time prior to when the recording was triggered) of this value divided by the camera frame rate (seconds). Note that audio packets are also counted as frames, so a higher value may be required if audio is enabled on the stream."
                                    matTooltipClass="tooltip">
                        <mat-label>Preamble Frames</mat-label>
                        <mat-select (selectionChange)="updatePreambleFrames()"
                                    [disableControl]="getPreambleFramesDisabledState()"
                                    [formControl]="getControl('preambleFrames')">
                            <mat-option *ngFor="let preamble of cameraSvc.preambleFrameValues"
                                        [value]="preamble">
                                {{ preamble }}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                    <mat-form-field [style.width.px]="150" appearance="outline"
                                    matTooltip="Select the maximum time in seconds that can elapse between FTP uploads from the camere for the recording to be extended further by this selected time. The absence of another FTP within this window will result in the recording being completed."
                                    matTooltipClass="tooltip">
                        <mat-label>Retrigger Window</mat-label>
                        <mat-select (selectionChange)="setRetriggerWindow()"
                                    [disableControl]="this.localCamera.recordingStream === 'none'"
                                    [formControl]="getControl('retriggerWindow')">
                            <mat-option *ngFor="let win of cameraSvc.ftpRetriggerWindows" [value]="win.value">
                                {{ win.name }}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                }
                @case (RecordingType.motionService) {
                    <div>
                        <mat-form-field [style.width.px]="225" appearance="outline"
                                        matTooltip="Select the stream to monitor for motion. This would normally be the lower resolution stream,"
                                        matTooltipClass="tooltip">
                            <mat-label>Stream To Monitor For Motion</mat-label>
                            <mat-select (selectionChange)="setStreamForMotionDetection($event)"
                                        formControlName="streamForMotionDetection">
                                <mat-option [value]="'none'">none</mat-option>
                                @for (stream of localCamera.streams | keyvalue; track stream) {
                                    <mat-option [value]="stream.key">
                                        {{ stream.key }}
                                    </mat-option>
                                }
                            </mat-select>
                            <mat-error>Invalid value</mat-error>
                        </mat-form-field>
                    </div>
                    <mat-form-field [style.width.px]="120" appearance="outline">
                        <mat-label>Motion Threshold</mat-label>
                        <input (input)="updateThreshold()"
                               [disableControl]="localCamera.motion_detection_stream === 'none'"
                               [formControl]="getControl('threshold')"
                               autocomplete="off" matInput
                               matTooltip="Threshold for declaring motion. The threshold is the number of changed pixels counted after noise filtering, masking, despeckle, and labelling"
                               matTooltipClass="tooltip" maxlength="10" placeholder="Threshold"
                               type="number">
                        @if (getControl('threshold').hasError('max')) {
                            <mat-error>
                                Should be a number between 1 and 2147483647
                            </mat-error>
                        }
                        @if (getControl('threshold').hasError('min')) {
                            <mat-error>
                                Should be a number between 1 and 2147483647
                            </mat-error>
                        }
                        @if (getControl('threshold').hasError('required')) {
                            <mat-error>
                                Threshold is required
                            </mat-error>
                        }
                    </mat-form-field>
                    <mat-form-field [style.width.px]="170" appearance="outline"
                                    matTooltip="Select another stream on the camera to trigger a recording on when motion is detected on {{localCamera.motion_detection_stream}}. Normally you would select the highest resolution stream on the camera."
                                    matTooltipClass="tooltip">
                        <mat-label>Trigger Recording On</mat-label>
                        <mat-select (selectionChange)="updateRecordingTrigger()"
                                    [disableControl]="localCamera.motion_detection_stream === 'none'"
                                    [formControl]="getControl('trigger_recording_on')">
                            <mat-option [value]="'none'">
                                None
                            </mat-option>
                            @for (camStream of localCamera.streams | keyvalue; track camStream) {
                                @if (localCamera.motion_detection_stream !== 'none' && camStream.key !== localCamera.motion_detection_stream) {
                                    <mat-option [value]="camStream.key">
                                        {{ camStream.key }}
                                    </mat-option>
                                }
                            }
                        </mat-select>
                        <mat-error>Invalid value</mat-error>
                    </mat-form-field>
                    <mat-form-field floatLabel="always" [style.width.px]="220" appearance="outline">
                        <!--                    <mat-label>Mask File</mat-label>-->
                        <mat-label>Mask File</mat-label>
                        <input #fileInput
                               (change)="uploadMaskFile($event)"
                               accept=".pgm" hidden style="position: absolute" type="file"/>
                        <div class="file-upload">
                            <button (click)="fileInput.click()"
                                    [disabled]="localCamera.recordingType !== RecordingType.motionService"
                                    mat-icon-button
                                    matTooltip="Select a mask file to upload. This is a .pgm file where motion detection is disabled where the image is black, shades of grey attenuate motion detection sensitivity, and white areas allow full motion detection sensitivity."
                                    matTooltipClass="tooltip" type="button">

                                <mat-icon>file_upload</mat-icon>
                            </button>

                            <input [formControl]="getControl('mask_file')"
                                   matInput readonly type="text">
                            <button (click)="clearMaskFile();getControl('mask_file').setValue('');"
                                    [disabled]="localCamera.recordingType !== RecordingType.motionService"
                                    mat-icon-button
                                    matTooltip="Click to clear this field (no mask file)"
                                    matTooltipClass="tooltip" type="button">
                                <mat-icon>close</mat-icon>
                            </button>
                        </div>
                        <mat-error *ngIf="getControl('mask_file')">Please
                            select a valid .pgm
                            file, or clear.
                        </mat-error>
                    </mat-form-field>
                    <div></div>
                    <mat-form-field [style.width.px]="149" appearance="outline"
                                    matTooltip="The number of frames to delay the video stream by when recording. The value selected will give a preamble to recordings (time prior to when the recording was triggered) of this value divided by the camera frame rate (seconds). Note that audio packets are also counted as frames, so a higher value may be required if audio is enabled on the stream."
                                    matTooltipClass="tooltip">
                        <mat-label>Preamble Frames</mat-label>
                        <mat-select (selectionChange)="updatePreambleFrames()"
                                    [disableControl]="getPreambleFramesDisabledState()"
                                    [formControl]="getControl('preambleFrames')">
                            <mat-option *ngFor="let preamble of cameraSvc.preambleFrameValues"
                                        [value]="preamble">
                                {{ preamble }}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                    <mat-form-field [style.width.px]="95" appearance="outline">
                        <mat-label>Video Width</mat-label>
                        <input (blur)="updateVideoWidth()"
                               [formControl]="getControl('video_width')"
                               autocomplete="off" matInput
                               matTooltip="The width in pixels of the video on {{localCamera.motion_detection_stream}}. This is required if motion detection is enabled on {{localCamera.motion_detection_stream}}."
                               matTooltipClass="tooltip" maxlength="4" placeholder="Video Width"
                               type="number">
                        <mat-error
                                *ngIf="getControl('video_width').invalid">
                            Valid: 90-5000
                        </mat-error>
                    </mat-form-field>
                    <mat-form-field [style.width.px]="98" appearance="outline">
                        <mat-label>Video Height</mat-label>
                        <input (blur)="updateVideoHeight()"
                               [formControl]="getControl('video_height')"
                               autocomplete="off" matInput
                               matTooltip="The height in pixels of the video on {{localCamera.motion_detection_stream}}. This is required if motion detection is enabled on {{localCamera.motion_detection_stream}}."
                               matTooltipClass="tooltip" maxlength="4" placeholder="Video Height"
                               type="number">
                        <mat-error
                                *ngIf="getControl('video_height').invalid">
                            Valid: 90-3000
                        </mat-error>
                    </mat-form-field>
                }
                @case (RecordingType.pullPointEventTriggered) {
                    <mat-form-field [style.width.px]="400" appearance="outline"
                                    matTooltip="Select the pull point event which will trigger recording."
                                    matTooltipClass="tooltip">
                        <mat-label>Pull Point Event</mat-label>
                        <mat-select (selectionChange)="setSelectedPullPointRecordingTrigger($event)"
                                    formControlName="pullPointRecordingTrigger">
                            <mat-option [value]="'none'">None</mat-option>
                            @for (ppe of localCamera.pullPointEvents; track ppe) {
                                <mat-option [value]="ppe">
                                    {{ ppe }}
                                </mat-option>
                            }
                        </mat-select>
                        <mat-error>Invalid value</mat-error>
                    </mat-form-field>

                    <mat-form-field [style.width.px]="185" appearance="outline"
                                    matTooltip="Select the stream to record from. This would normally be the higher resolution stream. If a stream is selected, images sent by FTP from {{camKey}}, on motion being detected will trigger the NVR to make a recording on the selected stream of that camera. These recordings will be available on the Select Recording menu. The camera should be set to FTP a .jpg (jpeg) image to folder {{camKey}} on port 2121 on the NVRs IP address. See Camera Recordings Service section of the README.md"
                                    matTooltipClass="tooltip">
                        <mat-label>Stream To Record From</mat-label>
                        <mat-select (selectionChange)="setSelectedStream($event)"
                                    [disableControl]="localCamera.pullPointTopic === 'none'"
                                    formControlName="recordingStreamSelect">
                            <mat-option [value]="'none'">None</mat-option>
                            @for (stream of localCamera.streams | keyvalue: cameraSvc.compareFn; track stream) {
                                <mat-option [value]="stream.key">
                                    {{ stream.key }}
                                </mat-option>
                            }
                        </mat-select>
                        <mat-error>Invalid value</mat-error>
                    </mat-form-field>
                    <mat-form-field [style.width.px]="150" appearance="outline"
                                    matTooltip="The number of frames to delay the video stream by when recording. The value selected will give a preamble to recordings (time prior to when the recording was triggered) of this value divided by the camera frame rate (seconds). Note that audio packets are also counted as frames, so a higher value may be required if audio is enabled on the stream."
                                    matTooltipClass="tooltip">
                        <mat-label>Preamble Frames</mat-label>
                        <mat-select (selectionChange)="updatePreambleFrames()"
                                    [disableControl]="getPreambleFramesDisabledState()"
                                    [formControl]="getControl('preambleFrames')">
                            <mat-option *ngFor="let preamble of cameraSvc.preambleFrameValues"
                                        [value]="preamble">
                                {{ preamble }}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>

                }
            }
        </ng-container>
    </mat-card-content>
    <span class="recording-setup-confirm-group">
          <button color="cancel" mat-raised-button (click)="cancel()"
                  matTooltip="Close this dialogue and undo any changes"
                  matTooltipClass="tooltip">
            Cancel
          </button>
          <button color="warn" mat-raised-button
                  [disabled]="confirmButtonDisabledState()"
                  (click)="confirmChanges()"
                  matTooltip="Confirm changes and make ready for saving"
                  matTooltipClass="tooltip">
            Confirm
          </button>

    </span>

</mat-card>
