<div class="audio-control">
  <mat-card>
    <div>
      <button mat-icon-button (click)="toggleMuteAudio()">
        <mat-icon>{{ mute ? 'volume_off' : 'volume_up' }}</mat-icon>
      </button>
      <span></span>
      <mat-slider min="0" max="1" step="0.02" ngDefaultControl showTickMarks discrete [displayWith]="zeroTo100"
                  [disabled]="mute" (change)="setVolume()" (click)="setVolume()">
        <input matSliderThumb [(ngModel)]="level">
      </mat-slider>
    </div>
  </mat-card>
</div>
