div.audio-control {
  width: 280px;
  // These margins allow the thumb label to be displayed over the top and right edges of the audio control
  margin-top: 3px;
  margin-right: 30px;
  > mat-card {
    > div {
      height: 0;
      > button {
        > mat-icon {
          cursor: pointer;
          margin-left: 0;
          color: white;
        }
      }
      > span {
        padding: 5px;
      }
      > mat-slider {
        width: 200px;
        top: -10px;
      }
      margin-bottom: 30px;
    }
  }
}
